<template>
  <!-- Mandaalne vorm loenduri lisamiseks -->
  <div v-if="isVisible" class="modal-backdrop" @click="hideForm">
    <div class="modal" @click.stop>
      <label class="montserrat-small">Pealkiri:</label>
      <input v-model="title" type="text" placeholder="Sisesta pealkiri" class="text-box mt-2 block w-full px-4 py-3 bg-[#FFFEFC] border border-[#9D8C8B] rounded-md shadow-sm"/>
      
      <label class="montserrat-small">Sihtkuupäev: </label>
      <input v-model="targetDate" type="date" class="text-box mt-2 block w-full px-4 py-3 bg-[#FFFEFC] border border-[#9D8C8B] rounded-md shadow-sm" />
     
      <div class="flex justify-end space-x-1 mt-6">
        <button type="button" @click="hideForm" class="button bg-[#C8B8B7]  text-[#FFFEFC] py-3 px-4 rounded-lg shadow-lg hover:bg-[#ab9d9d] transition">Tühista</button>
        <button type="button" @click="saveCountdown" class="button bg-[#9D8C8B] text-[#FFFEFC] py-3 px-4  rounded-lg shadow-lg hover:bg-[#8E7F7F] transition">Salvesta</button>
      </div>
      
    </div>
  </div>
</template>

<script setup>
import { ref, defineProps, defineEmits } from 'vue';

const props = defineProps({
  isVisible: Boolean
});

const emit = defineEmits(['close', 'save']);

// Loenduri andmed
const title = ref('');
const targetDate = ref('');

// Vormide sulgemise funktsioon
const hideForm = () => {
  emit('close');
  title.value = '';
  targetDate.value = '';
};

// Funktsioon loenduri salvestamiseks
const saveCountdown = () => {
  if (title.value && targetDate.value) {
    emit('save', {
      title: title.value,
      targetDate: new Date(targetDate.value).toISOString(),
      isActive: true
    });
    hideForm();
  } else {
    alert("Palun täida kõik väljad!");
  }
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.button {
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 12pt;
font-size: 10pt;
font-style: normal;
border-radius: 15px;
}
.montserrat-small {
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 400pt;
font-style: bold;
font-size: 12pt;
color:#413332;
}

.text-box::placeholder {
color: #9D8C8B; /* Asenda soovitud värviga */
}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat to modal */
}

.text-box {
border-radius: 15px;
color: #72605F
}

.modal {
  background-color: #FFFEFC;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat to modal */
}

.modal h3 {
  margin-top: 0;
}

.modal label {
  display: block;
  margin-top: 10px;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
  border-color: #9D8C8B;
}

.modal h3 {
  margin-top: 0;
  font-weight: 700; /* Bold for headings */
}

.modal label {
  display: block;
  margin-top: 10px;
  font-weight: 500; /* Medium for better readability on labels */
}

.modal input, .modal button {
  font-weight: 300; /* Regular for input and buttons */
}


.modal button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.modal button:last-of-type {
  background-color: #9D8C8B;
  color: white;
}


</style>

