<template>
  <div class="budget-container">
    <!-- Upper-right corner toggle button -->
    <div class="budget-toggle">
      <UToggle
        :class="isToggled ? 'bg-customToggle' : 'bg-gray-300'" 
        on-icon="proicons:airplane-landing"
        off-icon="proicons:airplane-takeoff"
        :model-value="isToggled"
        @update:model-value="toggleHandler"
      />
      <p class="toggle-status text-xs text-gray-500 mb-3">
        {{ isToggled ? "Reisil" : "Kodus" }}
      </p>
    </div>

    <!-- Conditional Buttons -->
    <div class="clear-budget-container">
      <button
        v-if="isToggled"
        @click="handleTripComplete"
        class="trip-complete-button"
      >
        Reis läbi!
      </button>
      <button
        v-else
        @click="clearBudget"
        class="clear-budget-button"
      >
        Tühjenda
      </button>
    </div>

    <!-- Feedback Modal -->
    <div v-if="showFeedbackForm" class="feedback-modal">
      <div class="feedback-modal-content">
        <!-- Gradient Line Container -->
        <div class="score-gradient-container">
          <div class="score-gradient-line"></div>
          <div
            class="score-indicator"
            :style="{ left: calculateIndicatorPosition() }"
          ></div>
          <!-- Gradient Labels -->
          <div class="gradient-labels">
            <span class="label-left">Alakulutus</span>
            <span class="label-right">Ülekulutus</span>
          </div>
        </div>

        <!-- Score Display -->
        <h2 class="feedback-title">
          <span style="color: black;">Sinu tulemus on </span> 
          <span :style="{ color: scoreColor }">{{ calculateScore() }}</span>
        </h2>


        <!-- Feedback List -->
        <ul class="feedback-list">
          <li v-for="category in categories" :key="category" class="feedback-item">
            <icon :name="getIconForCategory(category)" class="feedback-icon" />
            <span class="feedback-text">{{ calculateFeedback(category) }}</span>
          </li>
        </ul>

        <!-- Close Button -->
        <button class="close-button" @click="closeFeedbackForm">Sulge</button>
      </div>
    </div>

    <!-- Budget Section -->
    <div class="budget-summary">
      <!-- Save Button Positioned at Left Corner (only when editing and toggle is off) -->
      <button
        v-if="isEditing && !isToggled"
        @click="saveBudgetInline"
        class="save-button"
      >
        Salvesta
      </button>

      <!-- Editable Budget Section -->
      <div class="editable-budget">
        <div class="budget-center">
          <!-- Editable Input -->
          <input
            v-if="isEditing && !isToggled"
            v-model="newBudgetAmount"
            @keyup.enter="saveBudgetInline"
            @blur="cancelEdit"
            type="number"
            class="budget-input-inline"
            placeholder="Enter budget"
          />

          <!-- Static Budget Display -->
          <span
            v-else
            @click="!isToggled ? editBudget() : null"
            :class="['budget-amount', { 'disabled-budget': isToggled }]"
          >
            {{ budget.amount }} {{ selectedCurrency }}
          </span>
        </div>

        <!-- Currency Dropdown Only When Editing -->
        <div
          v-if="isEditing && !isToggled"
          class="currency-container"
        >
          <select v-model="newSelectedCurrency" class="currency-dropdown">
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
            <option value="GBP">GBP</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Free Money Section -->
    <div class="free-money">
      <h4>Vaba raha: {{ freeMoney }} {{ selectedCurrency }}</h4>
    </div>

    <!-- Expense Section -->
    <div class="expenses-section">
      <h3>Kulutused:</h3>
      <button @click="addExpense" class="add-expense-button">Lisa kulutus</button>

      <!-- Expense Form -->
      <div v-if="showExpenseForm" class="add-expense-form">
        <select v-model="newExpenseCategory" class="dropdown-style">
          <option v-for="category in expenseOptions" :key="category.value" :value="category.value">
            {{ category.label }}
          </option>
        </select>
        <input v-if="newExpenseCategory === 'other'" v-model="customCategory" placeholder="Sisesta kategooria" />
        <input v-model="newExpenseAmount" type="number" placeholder="Summa" />
        <button @click="saveExpense" class="save-expense-button">Lisa</button>
      </div>

      <!-- Expense List -->
      <ul class="expense-list">
        <li v-for="(expense, index) in expenses" :key="expense.id" class="expense-item">
          <icon :name="getIconForCategory(expense.category)" class="expense-icon" />
          <span class="expense-amount">
            {{ expense.leftAmount || 0 }} {{ selectedCurrency }} / {{ expense.rightAmount || 0 }} {{ selectedCurrency }}
          </span>
          <button class="dots-button" @click="toggleDropdown(index)">...</button>

          <!-- Dropdown Menu -->
          <div v-if="activeExpenseDropdown === index" class="dropdown-menu absolute right-0 mt-1 w-48 bg-[#FFFEFC] rounded-lg shadow-lg z-20">
            <ul>
              <li>
                <UButton
                  icon="mdi-light:pencil"
                  label="Muuda"
                  class="dropdown-button bg-[#FFFEFC] text-[#30303C] hover:bg-gray-100 w-full text-left"
                  @click.stop="editExpense(index)"
                />
              </li>
              <li>
                <UButton
                  icon="material-symbols-light:delete-outline"
                  label="Kustuta"
                  class="dropdown-button bg-[#FFFEFC] text-[#30303C] hover:bg-gray-100 w-full text-left"
                  @click.stop="deleteExpense(index)"
                />
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>


<script>
import { ref, computed, onMounted, watch } from "vue";

export default {
  setup() {
    const budget = ref({ amount: 0 });
    const selectedCurrency = ref("EUR");
    const isEditing = ref(false);
    const isToggled = ref(false);
    const newBudgetAmount = ref(budget.value.amount);
    const newSelectedCurrency = ref(selectedCurrency.value);
    const showExpenseForm = ref(false);
    const newExpenseCategory = ref("");
    const newExpenseAmount = ref(null);
    const customCategory = ref("");
    const expenses = ref([]);
    const editingExpenseIndex = ref(null);
    const activeExpenseDropdown = ref(null);
    const showAmountInput = ref(false);
    const amountOperation = ref(null);
    const amountOperationSelected = ref(false);
    const tempAmount = ref(null);
    const showFeedbackForm = ref(false);

    const categories = ref([
      "transport",
      "food",
      "accommodation",
      "insurance",
      "shopping",
      "medicalExpenses",
      "freeTime",
      "culture",
      "other",
    ]);

    const expenseOptions = ref([
      { value: "transport", icon: "hugeicons:airplane-01", label: "Transport" },
      { value: "food", icon: "hugeicons:dish-02", label: "Toit" },
      { value: "accommodation", icon: "hugeicons:bed", label: "Majutus" },
      { value: "insurance", icon: "hugeicons:knight-shield", label: "Kindlustus" },
      { value: "shopping", icon: "hugeicons:shopping-basket-02", label: "Suveniirid" },
      { value: "medicalExpenses", icon: "hugeicons:health", label: "Meditsiin" },
      { value: "freeTime", icon: "hugeicons:ferris-wheel", label: "Vaba aeg" },
      { value: "culture", icon: "hugeicons:camera-02", label: "Kultuur" },
      { value: "other", icon: "hugeicons:circle", label: "Muu" },
    ]);

    const scoreColors = {
      10: "green",         
      9: "#32CD32",       
      8: "#ADFF2F",        
      7: "yellow",        
      6: "#FFD700",      
      5: "orange",         
      4: "#FF8C00",        
      3: "#FF4500",        
      2: "#FF6347",        
      1: "red",            
    };

    const freeMoney = computed(() => {
      if (isToggled.value) {
        const totalExpensesRight = expenses.value.reduce(
          (total, expense) => total + parseFloat(expense.rightAmount || 0),
          0
        );
        return budget.value.amount - totalExpensesRight;
      } else {
        const totalExpensesLeft = expenses.value.reduce(
          (total, expense) => total + parseFloat(expense.leftAmount || 0),
          0
        );
        return budget.value.amount - totalExpensesLeft;
      }
    });

    function toggleEdit() {
      if (!isToggled.value) {
        isEditing.value = !isEditing.value;
        if (!isEditing.value) {
          newBudgetAmount.value = budget.value.amount;
          newSelectedCurrency.value = selectedCurrency.value;
        }
      }
    }

    function editBudget() {
      isEditing.value = true;
      newBudgetAmount.value = budget.value.amount; 
      newSelectedCurrency.value = selectedCurrency.value;
    }

    function saveBudgetInline() {
      if (newBudgetAmount.value > 0) {
        budget.value.amount = newBudgetAmount.value;
        selectedCurrency.value = newSelectedCurrency.value;
        isEditing.value = false; 
        saveToLocalStorage();
      } else {
        alert("Palun sisestage kehtiv summa.");
      }
    }

    const toggleHandler = (value) => {
      isToggled.value = value;
      console.log("Toggle state:", value);
    };

    function clearBudget() {
      if (confirm("Kas oled kindel, et soovid eelarve ja kulutused tühjendada?")) {
        budget.value.amount = 0;
        expenses.value = [];
        saveToLocalStorage();
      }
    }

    const handleTripComplete = () => {
      if (confirm("Kas oled kindel, et soovid reisi lõpetada?")) {
        showFeedbackForm.value = true;
      }
    };

    function calculateFeedback(category) {
      const expense = expenses.value.find(exp => exp.category === category);

      if (!expense) {
        return "Ei ole kulutusi"; 
      }

      const leftAmount = parseFloat(expense.leftAmount || 0); 
      const rightAmount = parseFloat(expense.rightAmount || 0); 

      if (leftAmount === 0 && rightAmount === 0) {
        return "Ei ole kulutusi"; 
      }

      if (Math.ceil(leftAmount) === Math.ceil(rightAmount)) {
        return "Pidasid eelarvest kinni!"; 
      }

      if (leftAmount === 0) {
        return `Mitte planeeritud kulutused!`; 
      }

      const percentage = Math.ceil(((Math.ceil(rightAmount) - Math.ceil(leftAmount)) / Math.ceil(leftAmount)) * 100);
      
      if (percentage > 0) {
        return `Kulutasid ${percentage}% rohkem`; 
      } else {
        return `Kulutasid ${Math.abs(percentage)}% vähem`; 
      }
    }

    const calculateScore = () => {
      const impliedPlannedBudget = expenses.value.reduce(
        (total, expense) => total + parseFloat(expense.leftAmount || 0),
        0
      );

      const plannedBudget = budget.value.amount > 0 ? budget.value.amount : impliedPlannedBudget;

      const actualSpent = expenses.value.reduce(
        (total, expense) => total + parseFloat(expense.rightAmount || 0),
        0
      );

      if (plannedBudget === actualSpent) return 10;

      if (plannedBudget === 0) {
        return actualSpent === 0 ? 10 : 1;
      }

      const difference = Math.abs(plannedBudget - actualSpent);
      const percentageDifference = (difference / plannedBudget) * 100;

      if (percentageDifference <= 10) return 9;
      if (percentageDifference <= 20) return 8;
      if (percentageDifference <= 30) return 7;
      if (percentageDifference <= 40) return 6;
      if (percentageDifference <= 50) return 5;
      if (percentageDifference <= 60) return 4;
      if (percentageDifference <= 70) return 3;
      if (percentageDifference <= 80) return 2;
      return 1;
    };


    const scoreColor = computed(() => {
      const score = calculateScore();
      return scoreColors[score] || "black";
    });


    const calculateIndicatorPosition = () => {
      const score = calculateScore(); // Get the score
      const centerPosition = 50; // Center of the line in percentage
      const stepSize = 5; // Each score step (1-10) equals 5% of the line

      if (score === 10) {
        return `${centerPosition}%`; // Center for a perfect score
      }

      if (score < 10) {
        return `${centerPosition - (10 - score) * stepSize}%`; // Left of center for lower scores
      }

      if (score > 10) {
        return `${centerPosition + (score - 10) * stepSize}%`; // Right of center for higher scores
      }
    };


    const closeFeedbackForm = () => {
      budget.value.amount = 0;
      expenses.value = [];
      isToggled.value = false;

      showFeedbackForm.value = false;

      saveToLocalStorage();
    };


    function addExpense() {
      newExpenseCategory.value = ""; 
      newExpenseAmount.value = null; 
      showExpenseForm.value = true;  
    }

    function saveExpense() {
      if (newExpenseCategory.value && newExpenseAmount.value) {
        const amount = parseFloat(newExpenseAmount.value);

        // Find if the category already exists
        const existingExpenseIndex = expenses.value.findIndex(
          (expense) => expense.category === newExpenseCategory.value
        );

        if (existingExpenseIndex !== -1) {
          // Update existing expense
          if (isToggled.value) {
            expenses.value[existingExpenseIndex].rightAmount += amount; // Add to right amount
          } else {
            expenses.value[existingExpenseIndex].leftAmount += amount; // Add to left amount
          }
        } else {
          // Add new expense if category does not exist
          expenses.value.push({
            id: Date.now(),
            category: newExpenseCategory.value,
            leftAmount: isToggled.value ? 0 : amount,
            rightAmount: isToggled.value ? amount : 0,
          });
        }

        resetExpenseForm();
        saveToLocalStorage();
      } else {
        alert("Palun täitke kõik väljad!");
      }
    }


    function resetExpenseForm() {
      showExpenseForm.value = false;
      newExpenseCategory.value = "";
      newExpenseAmount.value = null;
      editingExpenseIndex.value = null;
    }


    function deleteExpense(index) {
      const expense = expenses.value[index];

      if (isToggled.value) {
        expense.rightAmount = 0; 
      } else {
        expense.leftAmount = 0; 
      }

      if (expense.leftAmount === 0 && expense.rightAmount === 0) {
        expenses.value.splice(index, 1);
      }

      saveToLocalStorage();
      activeExpenseDropdown.value = null;
    }

    function editExpense(index) {
      const expense = expenses.value[index];
      newExpenseCategory.value = expense.category;
      newExpenseAmount.value = isToggled.value ? expense.rightAmount : expense.leftAmount; 
      showExpenseForm.value = true; 
      editingExpenseIndex.value = index;

      activeExpenseDropdown.value = null;
    }

    function toggleDropdown(index) {
      activeExpenseDropdown.value = activeExpenseDropdown.value === index ? null : index;
    }

    function setAmountOperation(operation) {
      amountOperation.value = operation;
      amountOperationSelected.value = true;
    }

    function applyAmountChange(index) {
      const amount = parseFloat(tempAmount.value);

      if (!isNaN(amount)) {
        const expense = expenses.value[index];
        if (amountOperation.value === "+") {
          if (isToggled.value) {
            expense.rightAmount += amount;
          } else {
            expense.leftAmount += amount;
          }
        } else if (amountOperation.value === "-") {
          if (isToggled.value) {
            expense.rightAmount = Math.max(0, expense.rightAmount - amount);
          } else {
            expense.leftAmount = Math.max(0, expense.leftAmount - amount);
          }
        } else if (amountOperation.value === "=") {
          if (isToggled.value) {
            expense.rightAmount = amount;
          } else {
            expense.leftAmount = amount;
          }
        }
        resetEditingState();
        saveToLocalStorage();
      } else {
        alert("Palun sisesta kehtiv summa.");
      }
    }

    function resetEditingState() {
      editingExpenseIndex.value = null;
      showAmountInput.value = false;
      amountOperationSelected.value = false;
      tempAmount.value = null;
    }

    function getIconForCategory(category) {
      const categoryIcons = {
        transport: "hugeicons:airplane-01",
        food: "hugeicons:dish-02",
        accommodation: "hugeicons:bed",
        insurance: "hugeicons:knight-shield",
        shopping: "hugeicons:shopping-basket-02",
        medicalExpenses: "hugeicons:health",
        freeTime: "hugeicons:ferris-wheel",
        culture: "hugeicons:camera-02",
        other: "hugeicons:circle",
      };
      return categoryIcons[category] || "hugeicons:question";
    }

    function saveToLocalStorage() {
      localStorage.setItem("budget", JSON.stringify(budget.value));
      localStorage.setItem("selectedCurrency", selectedCurrency.value);
      localStorage.setItem("expenses", JSON.stringify(expenses.value));
    }

    function loadFromLocalStorage() {
      const storedBudget = localStorage.getItem("budget");
      const storedCurrency = localStorage.getItem("selectedCurrency");
      const storedExpenses = localStorage.getItem("expenses");
      if (storedBudget) budget.value = JSON.parse(storedBudget);
      if (storedCurrency) selectedCurrency.value = storedCurrency;
      if (storedExpenses) expenses.value = JSON.parse(storedExpenses);
    }

    onMounted(() => {
      loadFromLocalStorage();
    });

    watch([budget, expenses], saveToLocalStorage);

    return {
      budget,
      selectedCurrency,
      isEditing,
      isToggled,
      newBudgetAmount,
      newSelectedCurrency,
      freeMoney,
      showExpenseForm,
      newExpenseCategory,
      newExpenseAmount,
      customCategory,
      expenses,
      editingExpenseIndex,
      activeExpenseDropdown,
      showAmountInput,
      amountOperation,
      amountOperationSelected,
      tempAmount,
      toggleEdit,
      addExpense,
      saveExpense,
      deleteExpense,
      editExpense,
      toggleDropdown,
      setAmountOperation,
      applyAmountChange,
      getIconForCategory,
      clearBudget,
      toggleHandler,
      handleTripComplete,
      isToggled,
      showFeedbackForm,
      categories,
      handleTripComplete,
      closeFeedbackForm,
      calculateFeedback,
      calculateScore,
      scoreColor,
      calculateIndicatorPosition,
      expenseOptions,
      editBudget,
      saveBudgetInline,
    };
  },
};
</script>

<style scoped>
@import url('href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet');

.budget-container {
  position: relative;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  border-radius: 30px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.budget-summary {
  display: flex;
  justify-content: center; /* Center the entire content */
  align-items: center;
  position: relative;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem; /* Matches Checklist title size */
  font-weight: normal;
  color: #413332; /* Same color as Checklist title */
}

.expenses-section h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem; /* Matches Checklist title size */
  font-weight: normal;
  color: #413332; /* Same color as Checklist title */
  margin-bottom: 15px;
}

.budget-amount {
  cursor: pointer;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 16pt;
  color: #5D3A3A;
  text-align: center;
}

.budget-amount.disabled {
  pointer-events: none;
  color: gray;
  cursor: not-allowed;
}


.edit-budget-dropdown {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
  align-items: center;
}

.save-budget-button,
.add-expense-button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  color: #FFFEFC;
  background-color: #9D8C8B;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px; /* Vähenenud vahe "Lisa kulutus" ja vormi vahel 9D8C8B*/
}

.clear-budget-button,
.trip-complete-button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  color: #FFFEFC;
  background-color: #C9B9B8;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clear-budget-button:hover,
.trip-complete-button:hover {
  background-color: #B2A5A4;
}
.add-expense-button:hover,
.save-budget-button:hover {
  background-color: #8E7F7F; /* Darker hover effect */
}

.budget-input,
.expense-category-select {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  color: #72605F;
  background-color: #FFFEFC;
  border: 1px solid #9D8C8B;
  border-radius: 15px;
  padding: 5px 10px;
}

.budget-input::placeholder,
.expense-category-select::placeholder {
  color: #9D8C8B;
}

.free-money,
.expense-amount {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem; /* Matches smaller Checklist text */
  font-weight: normal;
  color: #72605F;
  text-align: center;
}

.expenses-section {
  margin-top: 20px;
}

.add-expense-form {
  margin-top: 15px; /* Vähenenud ruum vormi ja nupu vahel */
}

.expense-icon,
.category-icon {
  font-size: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.expense-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFEFC;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  color: #413332;
}

.expense-item:hover {
  background-color: #F3F3F3;
}

.dots-button {
  background: none;
  border: none;
  font-size: 20px;
  color: #30303c;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #FFFEFC;
  border: 1px solid #e2e8f0;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  position: absolute; /* Dropdown on absoluutne positsioon */
  top: 100%; /* See määrab, et dropdown ilmub kulutuse kasti alla */
  right: 0; 
  z-index: 10; /* Tagab, et dropdown jääb ülejäänud sisu peale */
  min-width: 50%; /* Et dropdown ei muutuks kitsaks */
  font-family: 'Montserrat', sans-serif;
}
.add-expense-form input[type="number"] {
  margin-right: 10px; /* Move the input box slightly to the right */
  padding: 8px 12px; /* Add padding for better spacing */
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: #72605F;
  background-color: #FFFEFC;
  border: 0px solid #9D8C8B;
  border-radius: 15px;
  width: 150px; /* Fixed width for consistency */
  height: 35px;
  margin-left: 6px;
}

.save-expense-button {
  margin-left: -55px; /* Add some space between the input and the button */
  padding: 8px 15px; /* Adjust padding */
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  bottom: px; /* Adjust vertical positioning */
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem; /* Small text */
  color: #B2A5A4;
  background: none;
  border: none;
  cursor: pointer;
}

.save-expense-button:hover {
  color: #8E7F7F; /* Darker hover effect */
}
.edit-amount-input {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.operation-buttons button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 4px;
  color: #555;
  transition: color 0.2s, transform 0.2s;
}

.operation-buttons button:hover {
  color: #333;
  transform: scale(1.1);
}

.clear-budget-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.budget-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}

.amount-input {
  width: 80px;
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 15px;
  text-align: center;
}


.feedback-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.feedback-modal-content {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
  position: relative;
}

.feedback-title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 16pt;
  color: #413332;
  margin-bottom: 20px;
  margin-top: 30px;
}

.feedback-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.feedback-item {
  display: flex;
  align-items: center;
  gap: 15px; /* Add spacing between the icon and the label */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 12pt;
  color:#413332;
}

.close-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 10pt;
  color:#726665;
  cursor: pointer;
}

.close-button:hover {
  color: black;
}

.score-gradient-container {
  position: relative;
  width: 100%;
  height: 20px; /* Slightly thicker line for better visibility */
  margin-bottom: 15px;
}

.score-gradient-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    red,         
    orange,      
    yellow,      
    green,      
    yellow,      
    orange,     
    red          
  );
  border-radius: 15px;
}

.score-indicator {
  position: absolute;
  top: -2px; 
  width: 7px; 
  height: 25px; 
  background-color: #413332;
  border-radius: 15px; 
}

.gradient-labels {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 25px; 
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 9pt;
  color: #5d3a3a;
}

.label-left {
  margin-left: 5px; 
}

.label-right {
  margin-right: 5px; 
}

/* Minimalistic and elegant dropdown styling */
.dropdown-style {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: #72605F; /* Text color */
  background-color: #FFFEFC; /* Background */
  border: 1px solid #9D8C8B; /* Border color */
  border-radius: 15px; /* Rounded edges */
  padding: 8px 12px; /* Padding for text and arrow */
  outline: none;
  appearance: none; /* Removes default dropdown arrow */
  cursor: pointer;
  width: 120px;
  height: 37px;
  margin-bottom: 10px;

  /* Custom dropdown arrow using background image */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%239D8C8B' d='M2 0L0 2h4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 8px;
}

/* Hover and focus effects for dropdown */
.dropdown-style:hover,
.dropdown-style:focus,
.currency-dropdown:hover,
.currency-dropdown:focus {
  border-color: #72605F;
}

.currency-dropdown {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: #72605F; /* Text color */
  background-color: #FFFEFC; /* Background color */
  border: 1px solid #9D8C8B; /* Border color */
  border-radius: 15px; /* Rounded edges */
  padding: 8px 16px; /* Padding for text */
  outline: none;
  appearance: none; /* Remove browser arrow */
  cursor: pointer;
  width: 100px; /* Set a fixed width to ensure enough space */
  height: 35px;

  /* Custom arrow for dropdown */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%239D8C8B' d='M2 0L0 2h4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 8px;
}

.budget-amount,
.budget-input-inline {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem; /* Same size for both */
  font-weight: normal;
  color: #5D3A3A;
  text-align: center;
  width: 120px; /* Match width to avoid shifting */
  line-height: 1.2; /* Keep consistent height */
  text-align: center; /* Keep text centered */
  outline: none;
  flex-grow: 1;
  border: none;
  background: transparent;
  outline: none;
  appearance: none; 
}

.budget-input-inline::placeholder {
  color: #9D8C8B; /* Placeholder color */
}

.budget-center {
  display: flex;
  justify-content: center; /* Center the input */
  align-items: center;
  flex: 1; /* Allow it to take up available space */
}

.budget-amount,
.budget-input-inline {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #5D3A3A;
  text-align: center;
  width: 100%; /* Full width for centering */
  border: none;
  background: transparent;
  outline: none;
}

.budget-input-inline {
  text-align: center; /* Keep input text centered */
}

.save-button {
  position: absolute;
  left: 20px; /* Align to the left edge with padding */
  bottom: 10px; /* Adjust vertical positioning */
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem; /* Small text */
  color: #B2A5A4;
  background: none;
  border: none;
  cursor: pointer;
}

.save-button:hover {
  color: #9D8C8B;
}

.editable-budget {
  display: flex;
  justify-content: center; /* Center budget input and currency */
  align-items: center;
  width: 100%;
  position: relative; /* Ensures button positioning is relative to this container */
}

.budget-amount.disabled-budget {
  color: gray; /* Greyish color when toggle is ON */
  pointer-events: none; /* Disable editing */
}

.editable-budget {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.budget-input-inline {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #5D3A3A;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
}

.currency-container {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/* Remove arrows for number inputs */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
  margin: 0; /* Remove any additional margin */
}
</style>

