<template>
  <div class="checklist-container">
    <!-- Nimekirjade sektsiooni pealkiri ja + nupp nimekirja lisamiseks -->
    <div class="flex items-center justify-between mb-4">
      <h1 class="text-2xl font-bold text-[#FFFEFC] flex-grow">Nimekirjad</h1>
      <div @click="openNewChecklistForm">
        <UButton icon="material-symbols-light:add-2-rounded" class="text-[#30303C] bg-[#FFFEFC] shadow-none hover:bg-[#F6F5F2]"></UButton>
      </div>
      <!-- <div @click="openNewChecklistForm"
           class="add-checklist-button bg-[#FFFEFC] text-lg text-[#9D8C8B] cursor-pointer flex items-center justify-center border-dashed border border-[#9D8C8B] hover:scale-105 transition duration-100 rounded-lg ml-auto"
           style="width: 200px; height: 30px; position: relative;">
        +
      </div> -->
    </div>

    <!-- Nimekirja vormi modaal -->
    <div v-if="showChecklistForm" class="modal-overlay fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50">
      <div class="modal-content bg-[#FFFEFC] p-6 rounded-lg shadow-lg w-full max-w-lg">
        <h2 class="montserrat-sm mb-6 text-black">{{ isEditingChecklist ? 'Muuda nimekirja' : 'Loo uus nimekiri' }}</h2>
        <form @submit.prevent="submitChecklist">
          <div class="mb-4">
            <label for="checklistTitle" class="montserrat-small">Nimekirja pealkiri</label>
            <input v-model="checklistTitle" 
                  id="checklistTitle" 
                  type="text" 
                  placeholder="Sisestage nimekirja pealkiri"
                  class="text-box mt-2 block w-full px-4 py-2 bg-[#FFFEFC] border border-[#9D8C8B] rounded-md shadow-sm"
                  required @keydown.enter.prevent="focusFirstBulletPoint" />
          </div>

          <p class="montserrat-extra-small mb-3">
            Vajuta <em>Enter</em>, et luua uus punkt. Vajuta kaks korda <em>Enter</em>, et tekitada alapealkiri.
          </p>

          <!-- Vorm nimekirja punktide jaoks -->
          <div v-for="(item, index) in items" :key="item.id" class="mb-3 flex items-center gap-2">
            <input v-if="item.isCheckbox" type="checkbox" v-model="item.checked" class="checkbox" />
            <input
              v-model="item.name"
              @keydown.enter.prevent="handleEnterKey(index)"
              @keydown.backspace="handleBackspaceKey(index, $event)"
              placeholder="Sisestage punkt või sektsiooni pealkiri"
              :class="{
                'form-input-inline': item.isCheckbox,
                'section-title': !item.isCheckbox
              }"
              class="text-box mt-2 block w-full px-2 py-2 bg-[#FFFEFC] border border-[#9D8C8B] rounded-md shadow-sm]"
            />
          </div>

          <div class="flex justify-end space-x-4 mt-4">
            <button type="button" @click="cancelForm" class="button bg-[#C8B8B7]  text-[#FFFEFC] py-3 px-4 rounded-lg shadow-lg hover:bg-[#ab9d9d] transition">Tühista</button>
            <button type="submit" class="button bg-[#9D8C8B] text-[#FFFEFC] py-3 px-4  rounded-lg shadow-lg hover:bg-[#8E7F7F] transition">
              {{ isEditingChecklist ? 'Salvesta muudatus' : 'Loo nimekiri' }}
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Näidatakse nimekirja olemasolu korral -->
    <div v-if="checklistStore.checklists.length">
  <div v-for="(checklist, index) in checklistStore.checklists" :key="checklist.id" class="checklist-item mb-3 p-3 bg-[#FFFEFC] rounded-lg shadow-md relative">
    <div class="flex justify-between items-center">
      <h2 class="montserrat-small checklist-title cursor-pointer" @click="toggleReadMore(index)">
        {{ checklist.title }}
      </h2>
      <div class="flex items-center space-x-1">
        <span class="montserrat-extra-small text-[#72605F]">{{ checkedItemCount(checklist) }}/{{ checklist.totalCount }}</span>
        <UDropdown :items="getItems(checklist)" :popper="{ arrow: true, placement: 'bottom-end' }">
                <UButton  trailing-icon="ph:dots-three-bold" class="text-[#30303C] bg-[#FFFEFC] shadow-none hover:bg-[#F6F5F2]" />
        </UDropdown>
      </div>
      <!-- <div class="flex items-center space-x-1">
        <span class="montserrat-extra-small text-[#72605F]">{{ checkedItemCount(checklist) }}/{{ checklist.totalCount }}</span>
        <UButton
          icon="ph:dots-three-bold"
          @click.stop="toggleChecklistDropdown(index)"
          class="text-[#72605F] bg-transparent shadow-none hover:bg-gray-300 hover:text-gray-800 cursor-pointer transition" />
      </div> -->
    </div>

        <!-- Dropdown menüü nimekirja muutmiseks või kustutamiseks -->

        
        <!-- <div v-if="activeChecklistDropdown === index" class="dropdown-menu absolute right-0 mt-1 w-48 bg-[#FFFEFC] rounded-lg shadow-lg z-20">
          <ul class="p-2">
            <li class="dropdown-item mb-2">
              <UButton
                icon="mdi-light:pencil"
                label="Muuda"
                class="dropdown-button bg-[#FFFEFC] text-[#30303C] hover:bg-gray-100 w-full text-left"
                @click="editChecklist(index)"
              />
            </li>
            <li class="dropdown-item">
              <UButton
                icon="material-symbols-light:delete-outline"
                label="Kustuta"
                class="dropdown-button bg-[#FFFEFC] text-[#30303C] hover:bg-gray-100 w-full text-left"
                @click="deleteChecklist(index)"
              />
            </li>
          </ul>
        </div> -->

        <!-- Nimekirja üksikasjade kuvamine -->
    <div v-if="expandedChecklist === index" class="mt-3">
      <div v-for="(item, idx) in checklist.items" :key="idx" class="flex items-center gap-2 mb-2">
        <template v-if="item.isCheckbox">
          <input type="checkbox" v-model="item.checked" class="checkbox" @change="updateChecklistCount(checklist, item)" />
          <span class="text-sm" :class="{ 'line-through': item.checked }">{{ item.name }}</span>
        </template>
        <template v-else>
          <span class="font-semibold text-sm">{{ item.name }}</span>
        </template>
      </div>
      <div class="mt-3 flex justify-end">
        <button @click="expandedChecklist = null" class="text-xs text-gray-500">Sulge</button>
      </div>
    </div>
  </div>
</div>
    <div v-else>
      <p class="text-gray-300 text-center">Nimekirjad puuduvad.</p>
    </div>
  </div>

</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useChecklistStore } from '@/stores/checklists';
import { useChecklistItemStore } from '@/stores/checklistItems'; // Import checklist item store
import type { Checklist } from '~/types/checklist';

const checklistStore = useChecklistStore();
const checklistItemStore = useChecklistItemStore(); // Initialize checklist item store

onMounted(async () => {
  await checklistStore.loadChecklist();
  if (checklistStore.checklists.length > 0) {
    for (const checklist of checklistStore.checklists) {
      await checklistItemStore.loadChecklistItemsByChecklistId(checklist.id); // Ensure all items are loaded
    }
  }
});

const getItems = (checklist: Checklist) => [
  [{
    label: 'Muuda',
    icon: 'mdi-light:pencil',
    class: 'montserrat-small',
    click: () => editChecklist(checklist), // Kutsu editDiary konkreetse päeviku objekti jaoks
  },
  {
    label: 'Kustuta',
    icon: 'material-symbols-light:delete-outline',
    class: 'montserrat-small',
    click: () => deleteChecklist(checklist),
  }],
];


const showChecklistForm = ref(false);
const activeChecklistDropdown = ref<number | null>(null);
const expandedChecklist = ref<number | null>(null);

const checklistTitle = ref("");
const items = ref([{ id: 0, checklistId: 0, name: "", checked: false, isCheckbox: true }]);
const isEditingChecklist = ref(false);
const currentChecklistId = ref<number | null>(null);

const openNewChecklistForm = () => {
  showChecklistForm.value = true;
  isEditingChecklist.value = false;
  checklistTitle.value = "";
  items.value = [{ id: 0, checklistId: 0, name: "", checked: false, isCheckbox: true }];
};

const focusFirstBulletPoint = () => {
  nextTick(() => {
    const firstBulletPoint = document.querySelector(".form-input-inline, .section-title") as HTMLInputElement;
    if (firstBulletPoint) {
      firstBulletPoint.focus();
    }
  });
};

const handleEnterKey = (index: number) => {
  if (items.value[index].name.trim() === "") {
    items.value[index].isCheckbox = false;
  } else {
    items.value.splice(index + 1, 0, { id: 0, checklistId: 0, name: "", checked: false, isCheckbox: true });
    nextTick(() => {
      const nextBulletPoint = document.querySelectorAll(".form-input-inline, .section-title")[index + 1] as HTMLInputElement | null;
      if (nextBulletPoint) {
        nextBulletPoint.focus();
      }
    });
  }
};

const handleBackspaceKey = async (index: number, event: KeyboardEvent) => {
  // If the current item is a category title (not a checkbox)
  if (!items.value[index].isCheckbox) {
    // If the category title is empty, convert it to a simple item
    if (!items.value[index].name) {
      event.preventDefault(); // Prevent the default backspace behavior
      items.value[index].isCheckbox = true; // Convert to a simple item
      items.value[index].name = ""; // Clear the name
    }
  } else {
    // If the current item is a checklist item (checkbox)
    if (!items.value[index].name) {
      // If the current item is empty, delete it
      if (index > 0) {
        event.preventDefault(); // Prevent the default backspace behavior
        const itemToDelete = items.value[index]; // Get the item to delete
        items.value.splice(index, 1); // Remove the item if it's empty

        // Call the delete method to remove the item from the backend/store
        await checklistItemStore.removeChecklistItem(itemToDelete); // Ensure this method is defined in your store

        // Focus on the previous item
        nextTick(() => {
          const previousBulletPoint = document.querySelectorAll(".form-input-inline, .section-title")[index - 1] as HTMLInputElement | null;
          if (previousBulletPoint) {
            previousBulletPoint.focus();
          }
        });
      }
    } else {
      // If the current item is not empty, allow normal backspace behavior
      // No need to do anything here; the default behavior will handle letter-by-letter deletion
    }
  }
};



const cancelForm = () => {
  showChecklistForm.value = false;
  checklistTitle.value = "";
  items.value = [{ id: 0, checklistId: 0, name: "", checked: false, isCheckbox: true }];
  isEditingChecklist.value = false;
  currentChecklistId.value = null;
};

const submitChecklist = async () => {
  const itemChecklist = items.value.map((item, index) => ({
    id: item.id || 0,
    checklistId: currentChecklistId.value || 0,
    name: item.name.trim(),
    checked: item.checked,
    isCheckbox: item.isCheckbox,
    order: index, // Add order based on the index
  }));

  // Filter out empty items
  const validItems = itemChecklist.filter(item => item.name || item.id);

  if (isEditingChecklist.value && currentChecklistId.value !== null) {
    const checklistToUpdate = checklistStore.checklists.find(c => c.id === currentChecklistId.value);
    if (checklistToUpdate) {
      checklistToUpdate.title = checklistTitle.value;
      checklistToUpdate.items = validItems;

      // Update CheckedCount and TotalCount
      checklistToUpdate.checkedCount = validItems.filter(item => item.checked && item.isCheckbox).length;
      checklistToUpdate.totalCount = validItems.filter(item => item.isCheckbox).length;

      await checklistStore.updateChecklist(checklistToUpdate);
    }
  } else {
    try {
      await checklistStore.addChecklist({
        title: checklistTitle.value,
        items: validItems, // Ensure the order is preserved
        checkedCount: validItems.filter(item => item.checked && item.isCheckbox).length,
        totalCount: validItems.filter(item => item.isCheckbox).length,
      });
    } catch (error) {
      console.error("Error adding checklist:", error);
    }
  }
  showChecklistForm.value = false;
  cancelForm(); // Close the form after submitting
};

const toggleChecklistDropdown = (index: number | null) => {
  activeChecklistDropdown.value = activeChecklistDropdown.value === index ? null : index;
};

const toggleReadMore = (checklistId: number) => {
  expandedChecklist.value = expandedChecklist.value === checklistId ? null : checklistId;
};

const editChecklist = (checklist: Checklist) => {
  //const checklist = checklistStore.checklists[index];
  if (checklist) {
    checklistTitle.value = checklist.title;
    items.value = checklist.items.map(item => ({ ...item })); 
    if (items.value.length === 0 || items.value[items.value.length - 1].name.trim() !== "") {
      items.value.push({ id: 0, checklistId: 0, name: "", checked: false, isCheckbox: true });
    }

    isEditingChecklist.value = true;
    currentChecklistId.value = checklist.id;
    showChecklistForm.value = true;
    activeChecklistDropdown.value = null;
  }
};


const deleteChecklist = async (checklist: Checklist) => {
  //const checklist = checklistStore.checklists[index];
  if (checklist) {
    await checklistStore.removeChecklist(checklist);
  }
  activeChecklistDropdown.value = null;
};


const checkedItemCount = (checklist: Checklist): number => {
  return checklist.items.filter(item => item.checked && item.isCheckbox).length;
};

const updateChecklistCount = async (checklist: Checklist, item: { id: number; checklistId: number; name: string; checked: boolean; isCheckbox: boolean; }): Promise<void> => {
  // Update the checked state of the item in the store
  const itemToUpdate = checklist.items.find(i => i.id === item.id);
  if (itemToUpdate) {
    itemToUpdate.checked = item.checked; // Update the local state
    await checklistItemStore.updateChecklistItem(itemToUpdate); // Save the change to the backend
  }

  // Update the checklist's checked count
  checklist.checkedCount = checklist.items.filter(i => i.checked && i.isCheckbox).length;
};

</script>


<style scoped>
@import url('href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet');


.montserrat-sm {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 16pt;
  color: #413332;
}


.montserrat-small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 12pt;
  color:#413332;
}

.montserrat-extra-small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 5pt;
  font-style: italic;
  font-size: 9pt;
  color:#726665;
}


.button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 12pt;
  font-size: 10pt;
  font-style: normal;
  border-radius: 15px;
}

.text-box {
  border-radius: 15px;
  color: #72605F
}
.text-box::placeholder {
  color: #9D8C8B; /* Asenda soovitud värviga */
}
/* Peamine konteiner nimekirjade jaoks */
.checklist-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #C9B9B8;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Moodaali stiil */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-radius: 15px;
  
}

.modal-content {
  font-family: 'Montserrat', sans-serif;
  border-radius: 15px;
  background-color: #FFFEFC;
}

/* + nupu stiil */
.add-checklist-button {
  font-family: 'Montserrat', sans-serif;
}

/* Dropdown-menüü stiil */
.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #FFFEFC;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  font-family: 'Montserrat', sans-serif;
}

.dropdown-item {
  display: block;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.dropdown-button {
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #30303C;
  background-color: #FFFEFC;
  transition: background-color 0.2s ease;
  font-family: 'Montserrat', sans-serif;
}

.dropdown-button:hover {
  background-color: #F6F5F2;
}

/* Nimekirja kastide stiil */
.checklist-item {
  position: relative;
  padding: 1rem;
  background-color: #FFFEFC;
  border-radius: 15px;
  transition: all 0.2s ease;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.575rem; /* Adjust to the desired size */
}

.checklist-item:hover {
  background-color: #f3f3f3;
}

/* Märkeruutude stiil */
.checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #4a4744;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 12px;
  border: solid #4a4744;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 2px;
  right: 6px;
}

/* Regular bullet points */
.form-input-inline {
  font-weight: normal; /* Tavateksti kaal */
  font-family: 'Montserrat', sans-serif;
}

/* Sektsiooni pealkirja stiil */
.section-title {
  font-weight:bold; /* Paks tekst ainult sektsiooni pealkirjadele */
  color: #30303C;
  font-family: 'Montserrat', sans-serif;
}

/* Main Title */
.text-2xl {
  font-weight: normal; /* Changes font from bold to normal */
  font-size: 1.2rem; /* Adjust the font size if needed */
   /* Keep existing color, adjust if needed */
  font-family: 'Montserrat', sans-serif; /* Ensures Montserrat is used */
}


/* Modal Header */
.modal-content h2 {
  font-family: 'Montserrat', sans-serif;
}


/* Pealkirja osale lisatud kursori muutmine */
.cursor-pointer {
  cursor: pointer;
}
</style>
