<template>
  <div class="countdown-container">
    <h2 class="countdown-title">{{ title }}</h2>
    <div class="countdown">
      <div class="time-box">
        <span class="number">{{ days }}</span>
        <span class="time-label">PÄEVAD</span>
      </div>
      <div class="time-box">
        <span class="number">{{ hours }}</span>
        <span class="time-label">TUNNID</span>
      </div>
      <div class="time-box">
        <span class="number">{{ minutes }}</span>
        <span class="time-label">MINUTID</span>
      </div>
      <div class="time-box">
        <span class="number">{{ seconds }}</span>
        <span class="time-label">SEKUNDID</span>
      </div>
    </div>
    <div class="delete-button">
      <UButton
        icon="material-symbols-light:delete-outline"
        class="delete-icon"
        @click="handleRemove"
        title="Kustuta"
      />
    </div>
  </div>
</template>

<script>
import { useCountdownStore } from "@/stores/countdowns";

export default {
  props: {
    title: String,
    targetDate: Date,
  },
  data() {
    return {
      now: new Date(),
      timer: null,
    };
  },
  computed: {
    days() {
      const diff = this.targetDate - this.now;
      return diff > 0
        ? Math.floor(diff / (1000 * 60 * 60 * 24)).toString().padStart(2, "0")
        : "00";
    },
    hours() {
      const diff = this.targetDate - this.now;
      return diff > 0
        ? Math.floor((diff / (1000 * 60 * 60)) % 24).toString().padStart(2, "0")
        : "00";
    },
    minutes() {
      const diff = this.targetDate - this.now;
      return diff > 0
        ? Math.floor((diff / (1000 * 60)) % 60).toString().padStart(2, "0")
        : "00";
    },
    seconds() {
      const diff = this.targetDate - this.now;
      return diff > 0
        ? Math.floor((diff / 1000) % 60).toString().padStart(2, "0")
        : "00";
    },
  },
  mounted() {
    this.timer = setInterval(() => {
      this.now = new Date();
    }, 1000);
  },
  beforeDestroy() {
    clearInterval(this.timer);
  },
  methods: {
    async handleRemove() {
      const countdownStore = useCountdownStore();
      if (countdownStore.activeCountdown) {
        await countdownStore.removeCountdown(countdownStore.activeCountdown);
      }
    },
  },
};
</script>

<style scoped>
@import url('href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet');


.countdown-container {
  text-align: center;
  padding: 30px;
  margin-bottom: 20px;
  background-color: #e4dada;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.countdown-title {
  font-size: 2.33rem;
  color: #645854;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif; /* Change font to Montserrat */
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.time-box {
  background-color: #f7f7f7;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  font-size: 3rem;
  color: #72605F;
  font-family: 'Montserrat', sans-serif; /* Change font to Montserrat */
}

.time-label {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #666;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif; /* Change font to Montserrat */
}

.delete-button {
  position: absolute;
  bottom: 20px;
  right: 22px;
  background-color: transparent;
  border: none;
  opacity: 1;
  transition: opacity 0.9s ease;
}

.delete-button:hover {
  opacity: 1;
}

.delete-icon {
  color: #645854 !important; /* Muudab ikooni värvi  */
  background-color: transparent !important; /* Eemaldab taustavärvi */
  box-shadow: none !important; /* Eemaldab varjud */
}

.delete-icon:hover {
  color: #b0abab !important; /* Hover muudab ikooni värvi halliks */
}
</style>