<template>
  <div class="bg-[#FFFEFC]">
    <!-- Värvi valija tausta muutmiseks -->
    <div class="flex justify-end mb-4">
      <label for="bgColorPicker" class="text-sm font-medium text-[#30303C]"></label>
      <input
        id="bgColorPicker"
        type="color"
        v-model="backgroundColor"
        class="ml-2 p-1 border border-gray-300 rounded-lg"
      />
    </div>

    <!-- Põhiline konteiner, kus tausta värve saab muuta dünaamiliselt -->
    <div :style="{ backgroundColor: backgroundColor, backgroundImage: selectedBackgroundImage ? 'url(' + selectedBackgroundImage + ')' : '' }" class="box-style max-w-6xl mx-auto mt-10 p-8 rounded-lg relative bg-cover bg-center">
      <h1 class="montserrat-regular  mb-8">Päevikud</h1>

      <div class="grid grid-cols-5 gap-4">
        <!-- + märgi kast päeviku lisamiseks -->
        <div
          @click="createNewDiary"
          class="diary-box-plus p-6 bg-[#FFFEFC] flex items-center justify-center text-5xl text-[#9D8C8B] cursor-pointer rounded-lg border-dashed border-2 border-[#9D8C8B] hover:scale-105 transition transform duration-100"
        >
          +
        </div>

        <!-- Päeviku kastid -->
        <div
          v-for="diary in diaries"
          :key="diary.id"
          :class="getDiaryStyle(diary)"
          class="diary-box p-6 bg-[#F8F3F3] rounded-lg hover:bg-gray-50 hover:shadow hover:scale-105 transition transform duration-100 relative"
          @click="navigateToDiaryPosts(diary.id)" 
        >
          <div class="box-style absolute top-2 right-2" @click.stop>
            <!-- Dropdown button, stop event propagation -->
          
            <UDropdown :items="getItems(diary)" :popper="{ arrow: true, placement: 'bottom-end' }">
              <UButton  trailing-icon="ph:dots-three-bold" class="text-[#30303C] bg-[#FFFEFC] shadow-none hover:bg-[#F6F5F2]" />
            </UDropdown>
          </div>

          <div class="flex-grow"></div>
          <div class="text-center mt-auto">
            <p class="great-vibes-small">{{ diary.title }}</p>
            <p class="montserrat-extra-small uppercase">{{ diary.description }}</p>
          </div>
        </div>
      </div>

      <!-- Uue või muutmise vorm -->
      <div v-if="showForm" class="fixed inset-0 fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50">
        <div class="form-style  bg-[#FFFEFC] p-8 rounded-lg shadow-2xl w-96 relative transition-transform transform scale-105">
          <h2 class="montserrat-sm mb-6 text-[#30303C]">{{ isEditing ? 'Muuda päevikut' : 'Loo uus päevik' }}</h2>

          <form @submit.prevent="submitDiary">
            <div class="mb-5">
              <label for="diaryTitle" class="montserrat-small">Päeviku pealkiri</label>
              <input
                v-model="newDiaryTitle"
                id="diaryTitle"
                type="text"
                placeholder="Sisestage päeviku pealkiri"
                class="text-box  mt-2 block w-full px-4 py-3 bg-[#FFFEFC] border border-[#9D8C8B] rounded-md shadow-sm"
                required
              />
              <p v-if="titleError" class="montserrat-small text-red-600 mt-1">Maksimaalne pikkus on 10 tähemärki.</p>
            </div>

            <div class="mb-5">
              <label for="diaryDescription" class="montserrat-small">Päeviku kirjeldus</label>
              <textarea
                v-model="newDiaryDescription"
                id="diaryDescription"
                placeholder="Sisestage päeviku kirjeldus"
                class="text-box  mt-2 block w-full px-4 py-3 bg-[#FFFEFC] border border-[#9D8C8B] rounded-md shadow-sm"
              ></textarea>
            </div>

            <!-- Lisa piltide valiku nupp -->
            <div class="mb-5">
              <button type="button" 
                class="button bg-[#C8B8B7] text-white py-3 px-4 rounded-lg shadow-lg hover:bg-[#B2A5A4] transition"
                @click="openBackgroundSelection">
                Lisa taust
              </button>
            </div>
     
          
          
            <div class="flex justify-end space-x-4">
              <button @click="showForm = false" type="button" class="button bg-[#C8B8B7] text-[#FFFEFC] py-3 px-4 rounded-lg shadow-lg hover:bg-[#ab9d9d] transition">
                Tühista
              </button>
              <button type="submit" class="button bg-[#9D8C8B] text-[#FFFEFC] py-3 px-4  rounded-lg shadow-lg hover:bg-[#8E7F7F] transition">
                {{ isEditing ? 'Salvesta muudatused' : 'Loo päevik' }}
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- Taustapildi valimise modaal -->
      <div v-if="showBackgroundModal" class=" fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center">
        <div class="form-style bg-[#f6f4f4] p-8 rounded-lg shadow-2xl w-3/4 max-w-lg">
          <h2 class="montserrat-sm mb-6 text-center">Vali taustapilt</h2>
          <div class="grid grid-cols-3 gap-4 h-96 overflow-y-scroll">
            <div
              v-for="image in availableImages"
              :key="image"
              class="cursor-pointer"
              @click="selectBackground(image)"
            >
              <img
                :src="getImagePath(image)"
                alt="Pilt"
                class="w-full h-auto rounded-lg shadow-md hover:scale-105 transition-transform duration-150"
              />
            </div>
          </div>
          <div class="flex justify-end mt-4">
            <button
              @click="closeBackgroundModal"
              class="button bg-[#C8B8B7]  text-[#FFFEFC] py-3 px-4 rounded-lg shadow-lg hover:bg-[#ab9d9d] transition"
            >
              Tühista
            </button>
          </div>
        </div>
      </div>



      <!-- Päeviku jagamise vorm -->
      <div v-if="showShareModal" class=" fixed inset-0 bg-[#30303C] bg-opacity-75 flex items-center justify-center">
        <div class="form-style bg-[#FFFEFC] p-8 rounded-lg shadow-2xl w-96 relative transition-transform transform scale-105">
          <h2 class="montserrat-sm mb-6 text-center">Jaga päevikut</h2>

          <form @submit.prevent="submitShare">
            <div class="mb-5">
              <label for="email" class="montserrat-small">Sisesta e-posti aadress</label>
              <input
                v-model="shareEmail"
                id="email"
                type="email"
                placeholder="Näide: nimi@domain.ee"
                class="text-box  mt-2 block w-full px-4 py-3 bg-[#FFFEFC] border border-[#9D8C8B] rounded-md shadow-sm"
                required
              />
            </div>

            <div class="flex justify-end space-x-4 mt-4">
              <button @click="onCancel" type="button" class="button bg-[#C8B8B7] text-[#FFFEFC] py-3 px-4 rounded-lg shadow-lg hover:bg-[#ab9d9d] transition">
                Tühista
              </button>
              <button type="submit" class="button bg-gradient-to-r bg-[#9D8C8B] text-[#FFFEFC] py-3 px-4 rounded-lg shadow-lg hover:bg-[#8E7F7F] transition">
               Jaga
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useDiaryStore } from '~/stores/diaries';
import { useRouter } from 'vue-router';

const diaryStore = useDiaryStore();
const { diaries } = storeToRefs(diaryStore);

onMounted(() => {
  diaryStore.loadDiary();
});

const newDiaryTitle = ref('');
const newDiaryDescription = ref('');
const titleError = ref(false);
const showForm = ref(false);
const activeDropdown = ref<number | null>(null);
const backgroundColor = ref('#C9B9B8');
const isEditing = ref(false);
const currentDiaryId = ref<number | null>(null);
const showShareModal = ref(false);
const shareEmail = ref('');
const selectedBackgroundImage = ref('');
const showBackgroundModal = ref(false); // Modal for background selection
const router = useRouter();

// Funktsioon, mis tagastab iga päeviku jaoks 'items' massiivi
const getItems = (diary: Diary) => [
  [{
    label: 'Muuda',
    icon: 'mdi-light:pencil',
    class: 'montserrat-small',
    click: () => editDiary(diary), // Kutsu editDiary konkreetse päeviku objekti jaoks
  },
  {
    label: 'Jaga',
    icon: 'material-symbols-light:ios-share',
    class: 'montserrat-small',
    click: () => showShareForm(diary),
  },
  {
    label: 'Kustuta',
    icon: 'material-symbols-light:delete-outline',
    class: 'montserrat-small',
    click: () => deleteDiary(diary),
  }],
];

const availableImages = ref([
  'city.png', 
  'map.png',
  'mountains.png',
  'plane_and_ship.png',
  'sea.png',
  'air.png',
  'beach.png',
  'camping.png',
  'celebration.png',
  'flowers.png',
  'amusement_park.png',
  'cafe.png',
  'city2.png',
  'general.png',
  'music.png',
]);

// Avab taustapildi valiku modaal
const openBackgroundSelection = () => {
  showBackgroundModal.value = true;
};

// Sulgeb modaalvormi ilma pildi valikuta
const closeBackgroundModal = () => {
  showBackgroundModal.value = false;
};

// Valib pildi ja sulgeb modaalvormi
const selectBackground = (image: string) => {
  selectedBackgroundImage.value = '/backgrounds/' + image;
  closeBackgroundModal();
};

// Uue päeviku loomine
const createNewDiary = () => {
  newDiaryTitle.value = '';
  newDiaryDescription.value = '';
  isEditing.value = false;
  showForm.value = true;
};

// Vue script section
const getImagePath = (image: string) => {
  // Assuming your images are in the "public/backgrounds" folder
  return new URL(`/backgrounds/${image}`, import.meta.url).href;
};


// Päeviku muutmine
const editDiary = (diary: Diary) => {
  newDiaryTitle.value = diary.title;
  newDiaryDescription.value = diary.description;
  currentDiaryId.value = diary.id;
  selectedBackgroundImage.value = diary.imageSrc || '/backgrounds/blank.png';
  isEditing.value = true;
  showForm.value = true;
  activeDropdown.value = null;
};

// Submit function
const submitDiary = async () => {
  // Kontrolli, kas pealkiri ületab 10 tähemärki
  if (newDiaryTitle.value.length > 10) {
    titleError.value = true; // Kuvab veateate
    return; // Peatab esitamise
  } else {
    titleError.value = false; // Eemaldab veateate

    // Vormiesitlus jätkub siin (uue päeviku loomine või muutmine)
    if (isEditing.value && currentDiaryId.value !== null) {
      // Olemasoleva päeviku uuendamine
      const diaryToUpdate = diaryStore.diaries.find(d => d.id === currentDiaryId.value);
      if (diaryToUpdate) {
        diaryToUpdate.title = newDiaryTitle.value;
        diaryToUpdate.description = newDiaryDescription.value;
        diaryToUpdate.imageSrc = selectedBackgroundImage.value || '/backgrounds/blank.png';
        await diaryStore.updateDiary(diaryToUpdate);
      }
    } else {
      // Uue päeviku loomine
      await diaryStore.addDiary({
        title: newDiaryTitle.value,
        description: newDiaryDescription.value,
        sharedWith: [],
        imageSrc: selectedBackgroundImage.value || '/backgrounds/blank.png'
      });
    }

    // Vormi lähtestamine
    newDiaryTitle.value = '';
    newDiaryDescription.value = '';
    selectedBackgroundImage.value = '';
    showForm.value = false;
  }

  // Reset the form and close it
  newDiaryTitle.value = '';
  newDiaryDescription.value = '';
  selectedBackgroundImage.value = '';
  showForm.value = false;
};

// Dropdowni avamine/sulgemine
const toggleDropdown = (diaryId: number) => {
  activeDropdown.value = activeDropdown.value === diaryId ? null : diaryId;
};

// Päeviku kustutamine
const deleteDiary = (diary: Diary) => {
  diaryStore.removeDiary(diary);
};

// Jagamisvormi avamine
const showShareForm = (diary: Diary) => {
  currentDiaryId.value = diary.id;
  showShareModal.value = true;
  activeDropdown.value = null;
};

const onCancel = () => {
  showForm.value = false;
  showShareModal.value = false;
  activeDropdown.value = null; // Ensure dropdown is closed on cancel
};

const showAlert = (message: string) => {
  window.alert(message); // Explicitly use window.alert to avoid TypeScript errors
};

// Jagamisvormi esitamine
const submitShare = () => {
  if (currentDiaryId.value !== null) {
    diaryStore.shareDiaryWithUser(currentDiaryId.value, shareEmail.value);
    showAlert(`Olete jaganud oma päevikut järgmise isikuga: ${shareEmail.value}`);
  }
  showShareModal.value = false;
  shareEmail.value = '';
};

const navigateToDiaryPosts = (diaryId: number) => {
  router.push({ path: `/posts/${diaryId}` });
};


const getDiaryStyle = (diary: Diary) => {
  if (diary.imageSrc == "/backgrounds/sea.png") {
    return 'bg-[url("/backgrounds/sea.png")] bg-cover bg-center';
  }
  else if (diary.imageSrc == "/backgrounds/city.png") {
    return 'bg-[url("/backgrounds/city.png")] bg-cover bg-center';
  }
  else if (diary.imageSrc == "/backgrounds/map.png") {
    return 'bg-[url("/backgrounds/map.png")] bg-cover bg-center';
  }
  else if (diary.imageSrc == "/backgrounds/mountains.png") {
    return 'bg-[url("/backgrounds/mountains.png")] bg-cover bg-center';
  }
  else if (diary.imageSrc == "/backgrounds/plane_and_ship.png") {
    return 'bg-[url("/backgrounds/plane_and_ship.png")] bg-cover bg-center';
  }
  else if (diary.imageSrc == "/backgrounds/air.png") {
    return 'bg-[url("/backgrounds/air.png")] bg-cover bg-center';
  }
  else if (diary.imageSrc == "/backgrounds/beach.png") {
    return 'bg-[url("/backgrounds/beach.png")] bg-cover bg-center';
  }
  else if (diary.imageSrc == "/backgrounds/camping.png") {
    return 'bg-[url("/backgrounds/camping.png")] bg-cover bg-center';
  }
  else if (diary.imageSrc == "/backgrounds/celebration.png") {
    return 'bg-[url("/backgrounds/celebration.png")] bg-cover bg-center';
  }
  else if (diary.imageSrc == "/backgrounds/flowers.png") {
    return 'bg-[url("/backgrounds/flowers.png")] bg-cover bg-center';
  }
  else if (diary.imageSrc == "/backgrounds/amusement_park.png") {
    return 'bg-[url("/backgrounds/amusement_park.png")] bg-cover bg-center';
  }
  else if (diary.imageSrc == "/backgrounds/cafe.png") {
    return 'bg-[url("/backgrounds/cafe.png")] bg-cover bg-center';
  }
  else if (diary.imageSrc == "/backgrounds/city2.png") {
    return 'bg-[url("/backgrounds/city2.png")] bg-cover bg-center';
  }
  else if (diary.imageSrc == "/backgrounds/general.png") {
    return 'bg-[url("/backgrounds/general.png")] bg-cover bg-center';
  }
  else if (diary.imageSrc == "/backgrounds/music.png") {
    return 'bg-[url("/backgrounds/music.png")] bg-cover bg-center';
  }
  else {
    return 'bg-[url("/backgrounds/blank.png")] bg-cover bg-center';
  }
}

</script>


<style scoped>
@import url('href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet');

.text-box {
  border-radius: 15px;
  color: #72605F
}
.text-box {
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
}

.text-box::placeholder {
  color: #9D8C8B; /* Asenda soovitud värviga */
}

.montserrat-sm {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 16pt;
  color: #413332;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 20pt;
  color:#FFFEFC;
}

.montserrat-small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 12pt;
  color:#413332;
}

.montserrat-extra-small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 5pt;
  font-style: normal;
  font-size: 8pt;
  color:#413332;
}


.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 40pt;
  font-style: normal;
  color:#413332;
}

.great-vibes-small {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 24pt;
  font-style: normal;
  color:#413332;
}


.diary-box {
  min-height: 250px;
  min-width: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
}

.diary-box-plus {
  min-height: 250px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
}

.dropdown-item {
  display: block;
  margin-bottom: 0.5rem;
}

.dropdown-button {
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.fixed {
  position: fixed;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  
}

.button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 12pt;
  font-size: 10pt;
  font-style: normal;
  border-radius: 15px;
}
.text-box {
  border-radius: 15px;
}

.form-style {
  border-radius: 15px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
</style>
