<template>
    <!-- Põhipaigutuse taust -->
    <div
      class="page-background p-10"
      :style="{ backgroundColor: '#FFFEFC', minHeight: '100vh' }"
    >
      <!-- Lehe sisu -->
      <div
      class="avaleht-background"
      :style="{
        backgroundImage: `url(${getImagePath('panorama.png')})`,
        backgroundSize: '100%',
        backgroundPosition: 'center',
        backgroundRepeat: 'no-repeat',
        height: '70vh',
      }"
    >
      <!-- Lehe pealkiri -->
      <h1 class="text-4xl text-[#FFFEFC] font-bold text-center pt-10">Avaleht</h1>
  
      <!-- Abi nupp -->
      <button 
        @click="showHelpModal = true" 
        class="montserrat-regular absolute top-4 right-4  p-2 rounded-lg shadow hover:bg-gray-100"
        aria-label="Help"
      >
        <UIcon name="hugeicons:bubble-chat-question" class="bg-[#9D8C8B] "></UIcon>
      </button>
  
      <!-- Selgitav tekstiosa -->
  <div class="explanatory-text-container flex flex-col items-center text-center mt-[30rem] px-6">
    <h2 class="montserrat-sm">
      Jäädvusta mälestusi, planeeri seiklusi ja jaga oma reise sõpradega!
    </h2>
    <p class="montserrat-regular mt-3">
      Koht, kus talletada meeldejäävamaid hetki, hoida oma seiklused organiseeritult ning valmistuda tulevasteks reisideks. 
    <br>
    Jaga oma kogemusi lähedastega ning inspireeri teisi avastama maailma läbi sinu silmade.  </p>
  </div>
  
  <!-- Navigeerimise nupp -->
  <div class="flex items-center justify-center" :style="{ marginTop: '70px' }">  
    <button 
      @click="navigateToDiaryPage" 
      class=" montserrat-regular-sm bg-[#9D8C8B] py-6 px-5 rounded-lg shadow-lg hover:bg-[#8E7F7F] "
    >
      Alusta reiside jäädvustamisega
    </button>
  </div>
  
      <!-- Abimodal -->
      <div v-if="showHelpModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-[#FFFEFC] p-8 rounded-lg shadow-lg max-w-lg w-full relative">
          <!-- Sule nupp modalil -->
          <UButton 
            @click="closeHelpModal" 
            class="absolute top-2 right-2 bg-[#FFFEFC] text-[#413332] p-2 rounded-lg hover:bg-gray-100"
            icon="material-symbols-light:close-small-outline"
          >
    
          </UButton>
  
          <!-- Modali sisu -->
          <div class="instruction-content">
            <h2 class="montserrat-title mb-4 text-center">{{ currentPage.title }}</h2>
            <ul class="montserrat-regular list-disc list-inside text space-y-4">
              <!-- Näitab juhiste sisu -->
              <li v-for="point in currentPage.content" :key="point" v-html="point"></li>
            </ul>
          </div>
  
          <!-- Navigeerimisnupud modalis -->
          <div class="flex justify-end space-x-6 mt-6">
            <button
              v-if="currentPageIndex > 0"
              @click="prevPage"
              type="button"
              class="button bg-[#C8B8B7]  text-[#FFFEFC] py-3 px-4 rounded-lg shadow-lg hover:bg-[#ab9d9d] transition"
            >
              Tagasi
            </button>
            <button
              v-if="currentPageIndex < instructions.length - 1"
              @click="nextPage"
              type="button"
              class="button bg-[#9D8C8B] text-[#FFFEFC] py-3 px-4  rounded-lg shadow-lg hover:bg-[#8E7F7F] transition"
            >
              Edasi
            </button>
            <button
              v-if="currentPageIndex === instructions.length - 1"
              @click="closeHelpModal"
              type="button"
              class="button bg-[#9D8C8B] text-[#FFFEFC] py-3 px-4  rounded-lg shadow-lg hover:bg-[#8E7F7F] transition"
            >
              Sain aru!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </template>
  
  <script setup>
  import { ref, computed } from 'vue';
  import { useRouter } from 'vue-router';
  import { useAuth } from '~/composables/useAuth';

  const auth = useAuth();
  // Routeri seadistus navigeerimiseks
  const router = useRouter();
  const showHelpModal = ref(false);
  if (!auth.isAuthenticated.value) {
  router.push('/'); // Kui ei ole sisselogitud, suunatakse tagasi login-lehele
}
  // Funktsioon pildi tee hankimiseks
  const getImagePath = (image) => {
    return new URL(`/backgrounds/${image}`, import.meta.url).href;
  };

  // Juhiste sisu
const instructions = [
  {
    title: 'Päevikud',
    content: [
      '<b>Uue päeviku loomiseks:</b> Klõpsa "+" nupule. Sisesta pealkiri, sissejuhatav kirjeldus ja vali sobiv päeviku taust. Päeviku salvestamiseks vajuta "Loo päevik".',
      '<b>Päeviku muutmiseks, jagamiseks või kustutamiseks:</b> Vajuta kolmele punktile päeviku kaardi paremas ülanurgas.',
    ],
  },
  {
    title: 'Postitused',
    content: [
      '<b>Postituste vaatamiseks:</b> Ava soovitud päevik.',
      '<b>Postituse muutmiseks:</b> Klõpsa soovitud postituse peale.',
      '<b>Paigutuse muutmiseks või postituse kustutamiseks:</b> Vajuta postituse kaardi nurgas olevale pliiatsiikoonile.',
      '<b>Päevikus liikumiseks:</b>',
      '<ul><li>Peatükkide loendit: Klõpsa soovitud postituse nimele.</li><li>Ekraaninooli: Liigu vasakule ja paremale, kasutades ekraanil olevaid nooleikoonid.</li></ul>',
    ],
  },
  {
    title: 'Loendur',
    content: [
      '<b>Uue loenduri lisamiseks:</b> Klõpsa "Lisa loendur" nupule.',
      'Sisesta sündmuse pealkiri ja toimumiskuupäev.',
      'Pärast salvestamist hakkab taimer näitama, kui palju aega on jäänud kuni sündmuseni.',
    ],
  },
  {
    title: 'Eelarve',
    content: [
      '<b>Kaks režiimi:</b> Kui alles planeerid reisi, siis tasub kontrollida, et üleval nurgas olev lennuki nupp oleks välja vajutatud, kui oled reisil, siis lülita see sisse.</li></ul>',
      '<b>Vaba raha sisestamiseks:</b> Vajuta "Vaba raha" lahtrile ja sisesta summa, seejärel salvesta.',
      '<b>Kulutuse lisamiseks:</b> Vajuta "Lisa kulutus". Vali kulutuse valdkond ja sisesta kulutuse summa. Vajuta "Lisa".</li></ul>',
      'Eelarve arvutab automaatselt, kui palju vaba raha jääb pärast sisestatud kulutusi.',
      'Samuti annab ta Sinu eelarveplaneerimise oskustele tagasisidet, võrreldes plaanituid kulutusi reaalsete kulutustega.',
    ],
  },
  {
    title: 'Nimekirjad',
    content: [
      '<b>Uue nimekirja loomiseks:</b> Vajuta "+" nupule. Sisesta nimekirja pealkiri. Vajuta Enter või klõpsa punkti lahtrile, et lisada punkt nimekirja. Kahekordne Enter loob alapealkirja.</li></ul>',
      '<b>Nimekirja vaatamine:</b> Klõpsa nimekirja pealkirjale, et näha täit nimekirja. Seal saab punkte märkida ja maha tõmmata.',
      '<b>Paremas ülanurgas:</b> Kuvatakse kõikide punktide koguarv ja maha tõmmatud punktide arv.',
      '<b>Nimekirja muutmiseks või kustutamiseks:</b> Vajuta kolmele punktile nimekirja kaardi paremas servas.',
    ],
  },
];

// Lehe muutujad ja funktsioonid
const homeImages = ref(['panorama.png']);
const currentPageIndex = ref(0);
const currentPage = computed(() => instructions[currentPageIndex.value]);

// Modali sulgemine
const closeHelpModal = () => {
  showHelpModal.value = false;
  currentPageIndex.value = 0; // Taasta esimene leht
};

// Navigeerimine järgmisele juhistele
const nextPage = () => {
  if (currentPageIndex.value < instructions.length - 1) {
    currentPageIndex.value++;
  }
};

// Navigeerimine eelmisele juhistele
const prevPage = () => {
  if (currentPageIndex.value > 0) {
    currentPageIndex.value--;
  }
};

// Navigeerimine päevikute lehele
const navigateToDiaryPage = () => {
  router.push('/diaries-view');
};
</script>

<style scoped>
@import url('href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet');


.montserrat-sm {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 20pt;
  color:#413332;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 12pt;
  color:#413332;
}
.montserrat-regular-sm {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: normal;
  font-size: 11pt;
  color:#FFFEFC;
}

.montserrat-small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: italic;
  font-size: 10pt;
  color:#413332;
}

.montserrat-title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: normal;
  font-size: 18pt;
  color:#413332;
}
.montserrat-extra-small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 5pt;
  font-style: italic;
  font-size: 8pt;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10pt;
  font-size: 10pt;
  font-style: normal;
  border-radius: 15px;
}


.page-background {
  background-color: #FFFEFC; /* Lehe taustavärv */
  min-height: 100vh; /* Katab kogu ekraani kõrguse */
}

.avaleht-background {
  position: relative;
}

.instruction-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.instruction-content ul ul {
  list-style-type: circle;
  margin-left: 1rem;
}

.instruction-content ul ul ul {
  list-style-type: square;
}

/* Modali kõrgem tase */
.fixed {
  z-index: 50;
}

.explanatory-text-container h2 {
  color: #30303C;
}

.explanatory-text-container p {
  color: #8E7F7F;
}
body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  font-family: 'Monsterrat'; /* Great for large titles */
  font-weight: normal; /* Adjust based on the font’s design */
}

h3, h4 {
  font-family: 'Klee One', serif; /* Suitable for subheadings */
  font-weight: bold;
}

button {
  font-family: 'Montserrat', sans-serif; /* Consistent with body for readability */
  font-weight: 500; /* Medium weight for better visibility */
}

figcaption, .caption {
  font-family: 'Klee One', serif; /* Adds a touch of style to captions */
}


button {
  border-radius: 15px; 
}


</style>