<template>
  <div>
    <input type="file" multiple @change="handleFiles" />
    <div v-if="photos.length">
      <h3>Valitud pildid:</h3>
      <div class="image-preview">
        <img
          v-for="(photo, index) in photos"
          :key="index"
          :src="getObjectURL(photo)"
          class="thumbnail"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, defineProps, defineEmits, watch } from 'vue';

// Props definition
const props = defineProps({
  modelValue: {
    type: Array as () => File[], // Specify that modelValue should be an array of File
    required: true,
  },
});

// Emit definition
const emit = defineEmits<{
  (e: 'update:modelValue', value: File[]): void;
}>();

const photos = ref<File[]>([]);

// Watch for changes in modelValue prop
watch(() => props.modelValue, (newValue) => {
  if (newValue) {
    photos.value = newValue;
  }
});

// Handle file input change
const handleFiles = (event: Event) => {
  const input = event.target as HTMLInputElement; // Specify the type of event target
  const selectedFiles = input.files;

  if (selectedFiles) {
    photos.value.push(...Array.from(selectedFiles)); // Add selected files to photos
    emit('update:modelValue', photos.value); // Emit updated photos array
  }
};

// Function to get object URL for an image
const getObjectURL = (file: File): string => {
  return window.URL.createObjectURL(file); // Use window.URL to avoid the TypeScript error
};

</script>

<style scoped>
.thumbnail {
  width: 100px;
  height: auto;
  margin: 5px;
}
</style>
