<template>
  <div class="login-modal-overlay">
    <div class="login-modal">
      <div class="login-modal-header">
        <h2 class="form-title">Tere tulemast tagasi!</h2>
        <p class="form-subtitle">Logige oma kontole sisse</p>
      </div>
      <form class="login-form" @submit.prevent="submit">
        <div class="form-group">
          <label for="username" class="form-label">Kasutajanimi</label>
          <input
            id="username"
            v-model="user.username"
            class="form-input"
            type="text"
            placeholder="Sisestage kasutajanimi"
            required
          />
        </div>

        <div class="form-group">
          <label for="password" class="form-label">Parool</label>
          <input
            id="password"
            v-model="user.password"
            class="form-input"
            type="password"
            placeholder="Sisestage parool"
            required
          />
        </div>

        <button type="submit" class="form-button">Logi sisse</button>
      </form>
      <p class="signup-prompt">
        <span>Veel pole kontot? </span>
        <button @click="goToRegistration" class="signup-link">Registreeri</button>
      </p>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useAuth } from '~/composables/useAuth';
import { useRouter } from 'vue-router';
import type { User } from '~/types/user';

const auth = useAuth();
const user: User = { username: '', password: '' };
const router = useRouter();

const submit = async () => {
  const result = await auth.logIn(user);
  if (result.success) {
    await router.push('/home-view');
  } else {
    alert(result.message); // Show an alert when the login fails
  }
};

const goToRegistration = () => {
  router.push('/registration-view');
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Abstract background for the overlay */
.login-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ebe2de, #c9b9b8);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.login-modal-overlay::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at 30% 50%, rgba(122, 104, 100, 0.5), rgba(0, 0, 0, 0)),
    radial-gradient(circle at 70% 20%, rgba(157, 140, 139, 0.5), rgba(0, 0, 0, 0));
  animation: rotate-gradient 20s infinite linear;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/* Animation for moving gradient */
@keyframes rotate-gradient {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Ensure modal stays on top */
.login-modal {
  font-family: 'Montserrat', sans-serif; /* Ensures Montserrat is applied */
  background: linear-gradient(135deg, #ebe2de, #c9b9b8);
  border-radius: 20px;
  padding: 2.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 6px 15px rgba(0.2, 0.1, 0.1, 0.2);
  text-align: center;
  transition: all 0.3s ease-in-out;
}



/* Modaal päis */
.login-modal-header {
  margin-bottom: 2rem;
}

.form-title {
  font-size: 1.9rem;
  font-weight: 700;
  color: #7a6864;
}

.form-subtitle {
  font-size: 1.1rem;
  color: #948b89;
  margin-top: 0.5rem;
}

/* Vorm */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #7a6864;
  margin-bottom: 0.5rem;
}

.form-input {
  border: 1px solid #d1c8c4;
  border-radius: 15px;
  padding: 0.8rem 1rem;
  font-size: 0.8rem;
  background-color: #ffffff;
  color: #4a4a4a;
  width: 100%;
  box-sizing: border-box;
}

.form-input:focus {
  border-color: #9d8c8b;
  box-shadow: 0 0 0 3px rgba(157, 140, 139, 0.3);
  outline: none;
}

.form-button {
  padding: 0.9rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  background-color: #9d8c8b;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #8c7a76;
}

.signup-prompt {
  font-size: 1rem;
  color: #666;
  margin-top: 1.5rem;
}

.signup-link {
  color: #9d8c8b;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.signup-link:hover {
  text-decoration: none;
  color: #8c7a76;
}
</style>

