<template>
  <div class="max-w-6xl mx-auto mt-10 p-8 bg-[#C9B9B8] rounded-lg">
    <h1 class="text-3xl font-bold mb-8 text-center text-white">Postituste Loend</h1>

    <!-- Add new post button -->
    <div v-if="!showForm" @click="createNewPost"
         class="add-post-button mb-8 bg-white text-4xl text-[#9D8C8B] cursor-pointer flex items-center justify-center border-dashed border-2 border-[#9D8C8B] hover:scale-105 transition duration-100 rounded-lg">
      +
    </div>

    <!-- Add/Edit post form -->
    <div v-if="showForm" class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-2xl font-semibold mb-6">{{ isEditing ? 'Muuda postitust' : 'Lisa uus postitus' }}</h2>
      <form @submit.prevent="submitPost">
        <!-- Title input field -->
        <div class="mb-6">
          <label for="title" class="block text-sm font-medium">Pealkiri</label>
          <input
            v-model="postData.title"
            id="title"
            type="text"
            placeholder="Sisestage postituse pealkiri"
            class="mt-2 block w-full px-4 py-3 bg-[#F5F0EF] border border-[#9D8C8B] rounded-md shadow-sm"
            required
          />
        </div>

        <!-- Date and time input field -->
        <div class="mb-6">
          <label for="dateTime" class="block text-sm font-medium">Kuupäev ja kellaaeg</label>
          <input
            v-model="postData.dateTime"
            id="dateTime"
            type="date"
            class="mt-2 block w-full px-4 py-3 bg-[#F5F0EF] border border-[#9D8C8B] rounded-md shadow-sm"
            required
          />
        </div>

        <!-- Content input field -->
        <div class="mb-6">
          <label for="content" class="block text-sm font-medium">Sisu</label>
          <textarea
            v-model="postData.content"
            id="content"
            rows="6"
            placeholder="Sisestage postituse sisu"
            class="mt-2 block w-full px-4 py-3 bg-[#F5F0EF] border border-[#9D8C8B] rounded-md shadow-sm"
            required
          ></textarea>
        </div>
        <!-- Button group -->
        <div class="flex justify-between space-x-6 mt-6">
          <!-- Clear button (left) -->
          <button type="button" @click="clearForm" class="bg-[#C8B8B7] text-white py-3 px-6 rounded-lg hover:bg-[#B2A5A4]">
            Tühjenda
          </button>

          <!-- Cancel and Save buttons (right) -->
          <div class="flex space-x-6">
            <!-- Cancel button -->
            <button type="button" @click="resetForm" class="bg-gray-500 text-white py-3 px-6 rounded-lg hover:bg-gray-600">
              Tühista
            </button>

            <!-- Save button -->
            <button type="submit" class="bg-[#9D8C8B] text-white py-3 px-6 rounded-lg hover:bg-[#8E7F7F]">
              {{ isEditing ? 'Salvesta muudatused' : 'Salvesta' }}
            </button>
          </div>
        </div>
      </form>
    </div>
   
    <!-- Post list -->
    <div v-if="!showForm && posts.length">
      <div v-for="post in posts" :key="post.id" class="mb-8 p-6 bg-white rounded-lg shadow-md transition hover:scale-105 hover:shadow-lg relative">
        <!-- Dropdown button -->
        <div class="absolute top-2 right-2">
          <button @click.stop="toggleDropdown(post.id)" class="bg-transparent p-0 focus:outline-none">
            <span class="icon-dots">&#8942;</span>
          </button>

          <!-- Dropdown menu -->
          <ul v-if="activeDropdown === post.id" class="dropdown-menu absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg z-20 p-2">
            <li class="dropdown-item mb-2">
              <button 
                class="dropdown-button bg-white text-gray-800 hover:bg-gray-100"
                @click="editPost(post)"
              >
                Muuda
              </button>
            </li>
            <li class="dropdown-item">
              <button 
                class="dropdown-button bg-white text-gray-800 hover:bg-gray-100"
                @click="deletePost(post)"
              >
                Kustuta
              </button>
            </li>
          </ul>
        </div>

        <!-- Post title and content preview -->
        <h2
          class="text-3xl font-semibold text-gray-800 mb-4 hover:text-blue-400 cursor-pointer"
          @click="post.id !== undefined ? toggleReadMore(post.id) : null"
        >
          {{ post.title }}
        </h2>

        <!-- Conditional rendering for post details -->
        <div v-if="post.id !== undefined && expandedPosts.includes(post.id)" class="mt-4 text-gray-700 text-lg">
          <p class="mb-4">{{ post.content }}</p>
          <p class="text-gray-600">Asukoht: {{ post.location || 'Asukoht puudub' }}</p>
          <p class="text-gray-600">Kuupäev: {{ post.dateTime ? formatDate(post.dateTime) : 'Kuupäev puudub' }}</p>

          <!-- Kitjutatud pildid pealkiri -->
          <h3 class="text-xl font-semibold mt-4 mb-2">Pildid:</h3>

          <!-- Piltide kuvamine -->
          <!-- <div v-if="post.photos && post.photos.length" class="mt-4 grid grid-cols-2 md:grid-cols-3 gap-4">
            <div v-for="photo in post.photos" :key="photo.id" class="relative">
              <img :src="photo.imageSrc" alt="Photo Preview" class="w-full h-auto rounded-md shadow hover:scale-110" /> 
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- No posts message -->
    <div v-else-if="!showForm && !posts.length">
      <p class="text-gray-300 text-center">Ühtegi postitust ei leitud.</p>
    </div>
  </div>
</template>

   
  <script setup lang="ts">
   
  const postStore = usePostStore();
  const nextId=ref<number>(1);
   
  const { posts } = storeToRefs(postStore);
   
  onMounted(() => {
    postStore.loadPosts();
  });
   
  // Kontroll muutujad
  const showForm = ref(false);
  const isEditing = ref(false);
  const currentPostId = ref<number | null>(null);
  const expandedPosts = ref<number[]>([]);
  const activeDropdown = ref<number | null>(null);
   
  // Andmete hoidja objekt
  const postData = ref({
    title: '',
    diaryId: 0,
    content: '',
    location: '',
    dateTime: '',
    photos: [] as Photo[]
  });
   
  // Näita vormi uue postituse loomiseks
  const createNewPost = () => {
    resetForm();
    showForm.value = true;
    isEditing.value = false;
  };
   
  // Olemasoleva postituse muutmine
  const editPost = (post: Post) => {
    showForm.value = true;
    isEditing.value = true;
    currentPostId.value = post.id;
   
    // Eeltäida vorm postituse andmetega
    postData.value = {
      title: post.title || '',
      diaryId: post.diaryId,
      content: post.content || '',
      location: post.location || '',
      dateTime: post.dateTime ? new Date(post.dateTime).toISOString().slice(0, 16) : '',
      photos: [] as Photo[]
    };
   
    activeDropdown.value = null;
  };
   
  // Toggle postituse detailide kuvamiseks
  const toggleReadMore = (postId: number) => {
    if (expandedPosts.value.includes(postId)) {
      expandedPosts.value = expandedPosts.value.filter((id) => id !== postId);
    } else {
      expandedPosts.value.push(postId);
    }
  };
   
  // Toggle dropdown menüüd
  const toggleDropdown = (postId: number) => {
    activeDropdown.value = activeDropdown.value === postId ? null : postId;
  };
   
  // Uue või muudetud postituse salvestamine
  const submitPost = () => {
    if (isEditing.value && currentPostId.value !== null) {
      const postToUpdate = postStore.posts.find(p => p.id === currentPostId.value);
      if (postToUpdate) {
        postToUpdate.title = postData.value.title;
        postToUpdate.content = postData.value.content;
        postToUpdate.location = postData.value.location;
        postToUpdate.dateTime = postData.value.dateTime;
        //postToUpdate.photos = postData.value.photos;
      }
    } else {
      // Lisa uus postitus
      postStore.addPost({
      title: postData.value.title,
      diaryId: postData.value.diaryId,
      content: postData.value.content,
      location: postData.value.location,
      dateTime: postData.value.dateTime,
      pageNumber: 0,
      photos: [],
  });
    }
   
    resetForm();
  };
   
  // Vormi tühistamine ja andmete puhastamine
  const resetForm = () => {
    showForm.value = false;
    isEditing.value = false;
    currentPostId.value = null;
   
    postData.value = {
      title: '',
      diaryId: 0,
      content: '',
      location: '',
      dateTime: '',
      photos: []
    };
  };
   
  // Tühjenda nupp, mis puhastab vormi
  const clearForm = () => {
    postData.value = {
      title: '',
      diaryId: 0,
      content: '',
      location: '',
      dateTime: '',
      photos: []
    };
  };
   
  // Postituse kustutamine
  const deletePost = (post: Post) => {
    postStore.removePost(post);
  };
   
  // Kuupäeva formateerimine
  const formatDate = (dateTime: string) => {
    const options: Intl.DateTimeFormatOptions = {
      year: 'numeric',
      month: 'long',
      day: 'numeric',
      hour: '2-digit',
      minute: '2-digit'
    };
    return new Date(dateTime).toLocaleDateString('et-EE', options);
  };
  </script>
   
  <style scoped>
   
  /* Lisa postituse nupu stiilid */
  .add-post-button {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
   
  /* Dropdown menüü stiil */
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    z-index: 100;
  }
   
  .dropdown-item {
    display: block;
    margin-bottom: 0.5rem;
  }
   
  .dropdown-button {
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
  }
   
  button {
    transition: background-color 0.2s ease;
  }
   
  button, .dropdown-button {
    border: none;
    box-shadow: none;
  }
   
  .shadow-md {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
   
  .bg-white:hover {
    background-color: #f7fafc;
  }
   
  .transition {
    transition: all 0.3s ease;
  }
   
  .hover\:scale-105:hover {
    transform: scale(1.02);
  }
   
  .hover\:shadow-lg:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
   
  .text-lg {
    font-size: 1.125rem;
  }
   
  .text-3xl {
    font-size: 1.875rem;
  }
   
  .text-gray-800 {
    color: #2d3748;
  }
   
  .text-gray-600 {
    color: #4a5568;
  }
   
  input[type="datetime-local"] {
    color: #2d3748;
  }
  </style>