<template>
  <div>
    
  </div>
  <div class="background flex justify-center max-w-8xl p-8">

    <!-- Main Content Container -->
    <div class="content-container max-w-8xl flex gap-10">

      <div class="sidebar flex flex-col w-1/4">
        <h1 class="great-vibes-regular ">{{ diaryTitle }} postitused</h1>
        
        <button v-if="!showForm" @click="createNewPost" class="add-post-button-small mt-2 cursor-pointer transition duration-100 rounded-lg">
          Loo postitus
        </button>
        <button @click="openStyleModal" class="add-post-button-small mt-2 cursor-pointer">
          Vali stiil
        </button>

        <!-- Chapter List Section -->
        <div class="chapter-list mt-6">
          <h2 class="montserrat-sm mb-4">Peatükid</h2>
          <ul class="space-y-4">
            <li v-for="chapter in filteredChapterList" :key="chapter.id" @click="selectChapter(chapter)" class="chapter-item p-4 rounded-lg cursor-pointer hover:bg-gray-200">
              <h3 class="montserrat-small">{{ chapter.title }}</h3>
              <p class="montserrat-extra-small">{{ chapter.date }}</p>
            </li>
          </ul>
        </div>
      </div>

      <!-- Modal for Layout Selection -->
      <div v-if="isTemplateModalOpen" class=" fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center z-50">
        <div class="form-style bg-[#f6f4f4] p-8 rounded-lg shadow-2xl w-3/4 max-w-lg">
          <h2 class="montserrat-sm  mb-6 text-center ">Vali paigutus</h2>
          <div class="grid grid-cols-3 gap-4 h-96 overflow-y-scroll">
            <div
              v-for="template in availableLayouts"
              :key="template"
              class="cursor-pointer"
              @click="selectLayoutForPost(activePostId, template)"
            >
              <img
                :src="getImagePath(template)"
                alt="Pilt"
                class="w-full h-auto rounded-lg shadow-md hover:scale-105 transition-transform duration-150"
              />
            </div>
          </div>
          <div class="flex justify-end mt-4">
            <button
              @click="closeTemplateModal"
              class="button bg-[#C8B8B7]  text-[#FFFEFC] py-3 px-4 rounded-lg shadow-lg hover:bg-[#ab9d9d] transition"
            >
              Tühista
            </button>
          </div>
        </div>
      </div>

      <!-- Post Cards and Pagination Controls -->
      <div class="post-cards-container flex-1 relative w-8 p-40">
        
        <!-- Pagination Control - Previous -->
        <UButton class="pagination-button-left" 
        @click="prevPage" 
        :disabled="currentPage === 0" 
        icon="material-symbols-light:arrow-back-ios" />
       

        <!-- Post Cards -->
        <div class="post-cards grid grid-cols-2 gap-1">
          <div
            v-for="(post, index) in paginatedPosts"
            :key="post.id"
            :id="`post-${post.id}`"
            class="post-card p-6 bg-[#FFFEFC] rounded-lg border-2 border-[#72605F]"
            @click="editPost(post)"
          
          >
            <!-- Dropdown Button-->
            <div @click.stop :class="index % 2 === 0 ? 'corner-button-left' : 'corner-button-right'" >
              <UDropdown :items="getItems(post)" :popper="{ placement: 'bottom-end' }" >
                <UButton trailing-icon="mdi-light:pencil" class="corner-button-custom text-[#30303C] bg-[#FFFEFC] shadow-none hover:bg-[#F6F5F2]" />
              </UDropdown>
            </div>
            
            <div v-if="lineVisibility.showAboveLine" :style="computedLineStyles"></div>
            <!-- Title section with titleStyles applied -->
            <h2 :style="titleStyles">{{ post.title }}</h2>
            <div v-if="lineVisibility.showBelowLine" :style="computedLineStyles"></div>
            <p v-if="postsStyle.showLocation || postsStyle.showDate" :style="dateLocationStyles">
              <span v-if="postsStyle.showLocation">{{ post.location }}</span>
              <span v-if="postsStyle.showLocation && postsStyle.showDate">, </span>
              <span v-if="postsStyle.showDate">{{ post.dateTime }}</span>
            </p>
            <p :style="textStyles">{{ post.content }}</p>
            <!-- Kuvab erinevad layoutid -->
             
            <!-- Layout spetsiifilised pildikastid -->
            <div
              v-bind:class="{
                'layout1-boxes': post.layout === '1.png',
                'layout2-boxes': post.layout === '2.png',
                'layout3-boxes': post.layout === '3.png',
                'layout4-boxes': post.layout === '4.png'
              }"
            >

            <div
              @click.stop
              v-for="(photo, index) in post.photos"
              :key="index"
              class="image-container"
              @click="triggerFileInput($event, post, index)"
            >
              <div 
              v-bind:class="{
                'placeholder-box': post.layout === '1.png',
                'placeholder-box-2': post.layout === '2.png',
                'placeholder-box-3': post.layout === '3.png',
                'placeholder-box-4': post.layout === '4.png',
                }"
                :class="{ 'has-image': photo }">
                <span v-if="!photo">
                  <UIcon name="material-symbols-light:broken-image-outline-sharp"></UIcon>
                </span>

                <!-- Renderi pilt õigesti -->
                <img
                  v-if="photo"
                  :src="getPicturePath(photo)"
                  alt="Laetud pilt"
                  class="uploaded-photo"
                />

                <!-- Failisisend -->
                <input
                  type="file"
                  class="file-input"
                  @change="handleFileUpload($event, post, index)"
                  style="display: none;"
                />
              </div>
            </div>
            
          </div>




            <!-- Page number with conditional styling -->
            <p v-if="postsStyle.showPageNumber" :class="index % 2 === 0 ? 'page-number-left' : 'page-number-right'">{{ post.pageNumber }}</p>
          </div>
        </div>

        <!-- Pagination Control - Next -->
        <UButton
          class="pagination-button-right" 
          @click="nextPage" 
          :disabled="currentPage >= totalPages - 1" 
          icon="material-symbols-light:arrow-forward-ios" 
        />
      </div>
    </div>

    <!-- Form Modal for Adding/Editing Posts -->
    <div v-if="showForm" class="modal-overlay fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50">
      <div class="form-style modal-content bg-[#FFFEFC] p-6 rounded-lg shadow-lg w-full max-w-lg relative">
        <h2 class="montserrat-sm mb-6 text-center">{{ isEditing ? 'Muuda postitust' : 'Lisa uus postitus' }}</h2>
        <form @submit.prevent="submitPost">
          <div class="mb-6">
            <label for="title" class="montserrat-small">Pealkiri</label>
            <input
              v-model="postData.title"
              id="title"
              type="text"
              placeholder="Sisestage postituse pealkiri"
              class="text-box mt-2 block w-full px-4 py-3 bg-[#FFFEFC] border border-[#9D8C8B] rounded-md shadow-sm"
              required
            />
          </div>

          <div class="mb-6">
            <label for="dateTime" class="montserrat-small">Kuupäev</label>
            <input
              v-model="postData.dateTime"
              id="dateTime"
              type="date"
              class="text-box mt-2 block w-full px-4 py-3 bg-[#FFFEFC] border border-[#9D8C8B] rounded-md shadow-sm"
              :required="!isEditing"
            />
          </div>

          <div class="mb-6">
            <label for="location" class="montserrat-small">Asukoht</label>
            <input
              v-model="postData.location"
              id="location"
              type="text"
              placeholder="Sisestage asukoht"
              class="text-box mt-2 block w-full px-4 py-3 bg-[#FFFEFC] border border-[#9D8C8B] rounded-md shadow-sm"
            />
          </div>

          <div class="mb-6">
            <label for="content" class="montserrat-small">Sisu</label>
            <textarea
              v-model="postData.content"
              id="content"
              rows="6"
              placeholder="Sisestage postituse sisu"
              class="text-box  mt-2 block w-full px-4 py-3 bg-[#FFFEFC] border border-[#9D8C8B] rounded-md shadow-sm"
              required 
            ></textarea>
          </div>

          <!-- <div class="mb-6">
            <label for="photos" class="block text-sm font-medium">Pildid</label>
            <input
              type="file"
              id="photos"
              multiple
              @change="handleFileUpload"
              class="text-box mt-2 block w-full px-4 py-3 bg-[#FFFEFC] border border-[#9D8C8B] rounded-md shadow-sm"
            />
          </div> -->

          <div class="flex justify-end space-x-6 mt-6">
            <button type="button" @click="closeModal" class="button bg-[#C8B8B7]  text-[#FFFEFC] py-3 px-4 rounded-lg shadow-lg hover:bg-[#ab9d9d] transition">
              Tühista
            </button>
            <button type="submit" class="button bg-[#9D8C8B] text-[#FFFEFC] py-3 px-4  rounded-lg shadow-lg hover:bg-[#8E7F7F] transition">
              {{ isEditing ? 'Salvesta muudatused' : 'Salvesta' }}
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Style Modal for updating style -->
    <StyleModal
      v-if="showStyleModal"
      @close="closeStyleModal"
      @save-style="handleSaveStyle"
      :savedStyles="postsStyle"
    />


  </div>
</template>


<script setup lang="ts">
// This function applies the settings to the component styles
import { reactive, ref, computed, onMounted, type CSSProperties } from 'vue';
import { useRoute } from 'vue-router';
import { storeToRefs } from 'pinia';
import type { Style } from '~/types/style';
import { usePhotoStore } from "@/stores/photos";
import { useApi } from "~/composables/useApi";

const api = useApi();
const route = useRoute();
const postStore = usePostStore();
const { posts } = storeToRefs(postStore);

const styleStore = useStyleStore();
const { styles } = storeToRefs(styleStore);
const photoStore = usePhotoStore();



const diaryStore = useDiaryStore();
const diaryId = Number(route.params.diaryId);
const diaryTitle = ref('');
const showForm = ref(false);
const showStyle = ref(false);
const isEditing = ref(false);
const activeDropdown = ref<number | null>(null);
const currentPage = ref(0);
const postsPerPage = 2;
const selectedPosts = ref<Post[]>([]);
const diaryStyle = ref<Style>();

const showStyleModal = ref(false);
const selectedLayout = ref(''); // Vaikimisi paigutus
const uploads = ref<string[]>([]);

const openStyleModal = () => {
  showStyleModal.value = true;
};

const selectedPostId = ref<number | null>(null); // Hoia aktiivse postituse ID

const triggerFileInput = (event: Event, post: Post, index: number) => {
  const fileInput = (event.currentTarget as HTMLElement).querySelector(".file-input") as HTMLInputElement;
  if (fileInput) {
    fileInput.click();
  }
};


// Vue script section
const getImagePath = (image: string) => {
  // Assuming your images are in the "public/backgrounds" folder
  return new URL(`/layouts/${image}`, import.meta.url).href;
};

const getPicturePath = (image: string) => {
  return new URL(`/uploads/${image}`, import.meta.url).href;
};


const fetchUploads = async () => {
  const api = useApi();
  try {
    // Lae üleslaadimiste failinimed
    const response = await api.customFetch<string[]>("Posts/uploads");
    uploads.value = response;
  } catch (error) {
    console.error("Failed to fetch uploads:", error);
  }
};

// const getFullImageUrl = (relativePath: string) => {
//     const baseUrl = 'http://localhost:5000/static/uploads';
//     return `${baseUrl}/${relativePath}`;
// };

const previewPhoto = (event: Event, post: Post, index: number) => {
    const file = (event.target as HTMLInputElement).files?.[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = (e) => {
            if (e.target?.result) {
                post.photos[index] = e.target.result as string; // Kuvab eelvaate Base64 formaadis
                console.log("Base64 image data:", e.target.result);
            }
        };
        reader.readAsDataURL(file);
    }
};


const isTemplateDropdownOpen = ref<number | null>(null);

const toggleTemplateDropdown = (postId: number) => {
  isTemplateDropdownOpen.value = isTemplateDropdownOpen.value === postId ? null : postId;
};

const isTemplateModalOpen = ref(false); // Kontrollib, kas modal on avatud
const activePostId = ref<number>(0); // Algväärtus 0, et vältida null probleeme // Hoiab meeles, millist postitust muudetakse

const openTemplateModal = (postId: number) => {
  activePostId.value = postId; // Salvesta aktiivne postitus
  isTemplateModalOpen.value = true; // Ava modal
};

const closeTemplateModal = () => {
  isTemplateModalOpen.value = false; // Sulge modal
  activePostId.value = 0; // Tühjenda aktiivne postitus
};


const uploadPhoto = async (event: Event) => {
  const file = (event.target as HTMLInputElement).files?.[0]; // Faili lugemine
  if (file) {
    const postId = 1; // Näiteks seotud postituse ID
    await photoStore.uploadPhoto(file, postId);
  }
};

const selectLayoutForPost = async (postId: number | null, layoutSrc: string) => {
  if (postId !== null) {
    const post = posts.value.find((p) => p.id === postId); // Leia postituse ID
    if (post) {
      // Määra uus layout postile
      post.layout = layoutSrc;

      // Lisa fotokastid vastavalt layoutile
      if (layoutSrc === '1.png') {
        post.photos = ['']; // Üks kast
      } else if (layoutSrc === '2.png') {
        post.photos = ['', '']; // Kaks kasti
      } else if (layoutSrc === '3.png') {
        post.photos = ['', '', '']; // Kolm kasti
      }
      else if (layoutSrc === '4.png') {
        post.photos = ['', '', '', '']; // neli kasti
      }

      // Salvesta muudatused backendis
      await postStore.updatePost(post); // Kontrolli, et `post.layout` jõuab backend-i
    }
  }
  closeTemplateModal(); // Sulge modal
};


const applyLayoutClass = (layout: string | undefined): string => {
  switch (layout) {
    case '1.png':
      return 'template1-class';
    case '2.png':
      return 'template2-class';
    case '3.png':
      return 'template3-class';
    case '4.png':
      return 'template4-class';
    default:
      return ''; // Vaikimisi klass, kui layout puudub
  }
};


const availableLayouts = ref([
  '1.png', 
  '2.png',
  '3.png',
  '4.png',
]);



// Load the style from the store
const postsStyle = reactive({
  diaryId,
  titleFontFamily: 'Georgia',
  titleFontSize: '24pt',
  titleColor: '#30303C',
  titleFontStyle: 'normal',
  dateLocationFontFamily: 'Cambria',
  dateLocationFontSize: '10pt',
  dateLocationFontStyle: 'italic',
  dateLocationTextAlign: 'left',
  dateLocationColor: '#30303C',
  showLocation: true,
  showDate: true,
  textFontFamily: 'Cambria',
  textFontSize: '11pt',
  textColor: '#30303C',
  selectedLineStyle: 'Double lines',
  lineBorderTop: '1px solid #72605F',
  lineMarginTop: '8px',
  lineMarginBottom: '8px',
  showPageNumber: true,
  syncLineColor: true
});


// Listen for emitted updates from the StyleModal
const updateStyle = (newStyle: Style) => {
  Object.assign(postsStyle, newStyle); // Apply the new style to the main component
};


const loadStyle = async () => {
  try {
    await styleStore.loadStyleByDiaryId(diaryId); // Laadi stiil andmebaasist
    const savedStyle = styleStore.getStyleByDiaryId(diaryId);
    if (savedStyle && savedStyle.length > 0) {
      Object.assign(postsStyle, savedStyle[0]); // Rakenda salvestatud stiil
      console.log("Rakendatud stiil:", postsStyle); // Kontrolllogi
    } else {
      console.log("Ühtegi salvestatud stiili ei leitud päeviku jaoks.");
    }
  } catch (error) {
    console.error("Failed to load style:", error);
  }
};



const closeStyleModal = () => {
  showStyleModal.value = false;
};

// Funktsioon, mis käsitleb StyleModal'ilt saadud uut stiili ja rakendab selle koheselt postsStyle objektile
const handleSaveStyle = async (newStyle: Style) => {
  try {
    // Salvesta stiil andmebaasi või localStorage'i
    await styleStore.addStyle(newStyle); // Salvestab uue stiili andmebaasi

    // Salvesta stiil ka `localStorage`-i
    localStorage.setItem(`diary-style-${diaryId}`, JSON.stringify(newStyle));

    // Rakenda muudatused postsStyle objektile
    Object.assign(postsStyle, newStyle);

    // Sule modal pärast salvestamist ja stiilide rakendamist
    closeStyleModal();
  } catch (error) {
    console.error("Failed to save style:", error);
    alert("Failed to save style. Please try again.");
  }
};



const titleStyles = computed(() => ({
  fontFamily: postsStyle.titleFontFamily,
  fontSize: postsStyle.titleFontSize,
  fontWeight: postsStyle.titleFontStyle === 'bold' ? 'bold' : 'normal',
  color: postsStyle.titleColor,
}));

const dateLocationStyles = computed(() => ({
  fontFamily: postsStyle.dateLocationFontFamily,
  fontSize: postsStyle.dateLocationFontSize,
  fontStyle: postsStyle.dateLocationFontStyle,
  textAlign: postsStyle.dateLocationTextAlign as 'left' | 'center' | 'right',
  color: postsStyle.dateLocationColor,
}));

const textStyles = computed(() => ({
  fontFamily: postsStyle.textFontFamily,
  fontSize: postsStyle.textFontSize,
  color: postsStyle.textColor,
}));

const lineStyles = computed(() => ({
  borderTop: postsStyle.lineBorderTop,
  marginTop: postsStyle.lineMarginTop,
  marginBottom: postsStyle.lineMarginBottom,
}));

const computedLineStyles = computed(() => ({
  borderTop: '1px solid',
  borderColor: postsStyle.syncLineColor ? postsStyle.titleColor : '#72605F',
  marginTop: postsStyle.lineMarginTop,
  marginBottom: postsStyle.lineMarginBottom,
}));


const lineVisibility = computed(() => {
  return {
    showAboveLine: postsStyle.selectedLineStyle === 'Double lines' || postsStyle.selectedLineStyle === 'Line above',
    showBelowLine: postsStyle.selectedLineStyle === 'Double lines' || postsStyle.selectedLineStyle === 'Line below'
  };
});



type Photo = {
  id: number;
  imageSrc: string;
};

type PostData = {
  id?: number;
  title: string;
  diaryId: number;
  content: string;
  location: string;
  dateTime: string;
  photos: string[];
  pageNumber?: number;
  layout?: string;

};

const postData = ref<PostData>({
  title: '',
  diaryId: diaryId,
  content: '',
  location: '',
  dateTime: '',
  photos: [],
  pageNumber: undefined,
  layout: '',
});

type Chapter = {
  id: number;
  title?: string;
  date?: string;
};


const getItems = (post: Post) => [
  [
    {
      label: 'Muuda paigutus',
      icon: 'mdi-light:pencil',
      class: 'montserrat-small',
      click: () => openTemplateModal(post.id), // Avab paigutuste valiku modali
    },
    {
      label: 'Kustuta',
      icon: 'material-symbols-light:delete-outline',
      class: 'montserrat-small',
      click: () => deletePost(post),
    },
  ],
];



// Toggle dropdown menu
const toggleDropdown = (postId: number) => {
  activeDropdown.value = activeDropdown.value === postId ? null : postId;
};

// Load diary title based on the diaryId
const loadDiaryTitle = async () => {
  const diary = await diaryStore.loadDiaryById(diaryId);
  if (diary) {
      diaryTitle.value = diary.title;
  }
};



// Open form to create a new post
const createNewPost = () => {
  resetForm();
  showForm.value = true;
};

const submitPost = async () => {
  const savedPostId = postData.value.id; // Salvesta aktiivse postituse ID
  const savedPage = currentPage.value; // Save the current page before submitting
   // Kontrolli, kas sisu ületab tähemärkide limiiti
   if (postData.value.content.length > 1110) {
    alert('Postituse sisu ei tohi ületada 1100 tähemärki.');
    return; // Katkesta funktsioon
  }
  if (isEditing.value && postData.value.id) {
    // Editing an existing post - update without changing pageNumber

    await postStore.updatePost({
      id: postData.value.id,
      title: postData.value.title,
      diaryId: postData.value.diaryId,
      content: postData.value.content,
      location: postData.value.location,
      dateTime: postData.value.dateTime,
      photos: postData.value.photos,
      pageNumber: postData.value.pageNumber, // Keep original pageNumber
      layout: postData.value.layout, // Lisa layout
    });
  } else {
    // Assigning page number when adding a new post
    const maxPageNumber = posts.value.reduce((max, post) => Math.max(max, post.pageNumber || 0), 0);
    postData.value.pageNumber = maxPageNumber + 1;

    await postStore.addPost({
      title: postData.value.title,
      diaryId: postData.value.diaryId,
      content: postData.value.content,
      location: postData.value.location,
      dateTime: postData.value.dateTime,
      photos: postData.value.photos,
      pageNumber: postData.value.pageNumber,
      layout: postData.value.layout || '', // Lisa vaikimisi tühi layout
    });
  }

  // Reload posts to reflect changes
  await postStore.loadPostsByDiaryId(diaryId);

  // Restore the previously saved page
  currentPage.value = savedPage;
  selectedPostId.value = savedPostId;

  // Close the form and reset form data
  showForm.value = false;
  resetForm();
};


// Close modal and reset form
const closeModal = () => {
  showForm.value = false;
  resetForm();
};

const editPost = (post: Post) => {
  isEditing.value = true;
  selectedPostId.value = post.id; // Salvesta aktiivne postitus
  // Load post data into the form for editing
  postData.value = {
      id: post.id,
      title: post.title ?? '',
      diaryId: post.diaryId,
      content: post.content ?? '',
      location: post.location ?? '',
      dateTime: post.dateTime ?? '',
      photos: post.photos || [],
      pageNumber: post.pageNumber, // Keep the `pageNumber`
      layout: post.layout ?? '',
  };

  showForm.value = true; // Open the form modal
  activeDropdown.value = null; // Close the dropdown
};


// Delete a post
const deletePost = async (post: Post) => {
  await postStore.removePost(post);
  await postStore.loadPostsByDiaryId(diaryId);
  activeDropdown.value = null;
};

// Handle file upload
/* const handleFileUpload = async (
  event: Event,
  post: Post,
  index: number
) => {
  const input = event.target as HTMLInputElement;
  if (input?.files?.[0]) {
    const file = input.files[0];
    const formData = new FormData();
    formData.append("photo", file);

    try {
      const response = await api.customFetch<{ photoUrl: string }>(
        `Posts/${post.id}/upload-photo`,
        {
          method: "POST",
          body: formData,
        }
      );

      if (response.photoUrl) {
        // Asenda tühjad stringid foto URL-iga
        post.photos[index] = response.photoUrl;

        // Eemalda kõik tühjad stringid massiivist
        post.photos = post.photos.filter(photo => photo.trim() !== "");

        // Uuenda postitust andmebaasis
        await postStore.updatePost(post);
      }
    } catch (error) {
      console.error("Photo upload failed:", error);
    }
  }
};
 */

 const handleFileUpload = async (event: Event, post: Post, index: number) => {
  selectedPostId.value = post.id; // Salvesta aktiivne postitus
  const file = (event.target as HTMLInputElement).files?.[0];

  if (file) {
    const formData = new FormData();
    formData.append("photo", file);

    try {
      // Lae üles fail ja uuenda postitust
      const response = await api.customFetch<{ photoUrl: string }>(
        `Posts/${post.id}/upload-photo`,
        { method: "POST", body: formData }
      );

      if (response.photoUrl) {
        post.photos[index] = response.photoUrl; // Uuenda lokaalselt
        await postStore.updatePost(post); // Salvesta uuendused

        // Leia õige leht ja uuenda currentPage
        updateCurrentPageToActivePost(post);
      }
    } catch (error) {
      console.error("Photo upload failed:", error);
    }
  }
};

const updateCurrentPageToActivePost = (post: Post) => {

  // Kerimine nähtavale
  setTimeout(() => {
    const postElement = document.querySelector(
      `#post-${post.value}`
    );
    postElement?.scrollIntoView({
      behavior: "smooth",
      block: "center",
    });
  }, 100);
  
  
};

// Handle file upload and update preview
// Faili üleslaadimise käsitlemine
// const handleFileUpload = async (event: Event, post: Post, index: number) => {
//   const file = (event.target as HTMLInputElement).files?.[0];
//   if (file) {
//     const reader = new FileReader();

//     reader.onload = async (e) => {
//       if (e.target?.result) {
//         const updatedPhotos = [...post.photos];
//         updatedPhotos[index] = e.target.result as string;

//         try {
//           // Saada ainult uuendatud photos massiiv serverisse
//           await api.customFetch(`Posts/${post.id}`, {
//             method: "POST",
//             body: JSON.stringify({ photos: updatedPhotos }),
//             headers: { "Content-Type": "application/json" },
//           });

//           // Uuenda lokaalselt ainult photos massiiv
//           post.photos = updatedPhotos;
//         } catch (error) {
//           console.error("Photo upload failed:", error);
//         }
//       }
//     };

//     reader.readAsDataURL(file); // Konverteeri fail Base64 formaati
//   }
// };

// const handleFileUpload = async (event: Event, post: Post, index: number) => {
//   const file = (event.target as HTMLInputElement).files?.[0];
//   const photos = post.photos;
//   if (file) {
//     const reader = new FileReader();

//     reader.onload = async (e) => {
//       if (e.target?.result) {
//         photos[index] = e.target.result as string; // Base64 andmed eelvaate jaoks
//         console.log("Eelvaate andmed:", post.photos[index]);

//         // Uuenda postitust serveris
//         await postStore.updatePost({
//           id: post.id,
//           title: post.title,
//           diaryId: post.diaryId,
//           content: post.content,
//           location: post.location,
//           dateTime: post.dateTime,
//           photos: photos,
//           pageNumber: post.pageNumber, // Keep original pageNumber
//           layout: post.layout, // Lisa layout
//         });
//       }
//     };

//     reader.readAsDataURL(file); // Konverteeri fail Base64 formaati
//   }
// };


// const handleFileUpload = (event: Event) => {
//   const files = (event.target as HTMLInputElement).files;
//   if (files) {
//       const newPhotos: Photo[] = [];
//       Array.from(files).forEach((file) => {
//           const reader = new FileReader();
//           reader.onload = (e) => {
//               if (e.target?.result) {
//                   newPhotos.push({
//                       id: newPhotos.length + 1,
//                       imageSrc: e.target.result as string
//                   });
//               }
//           };
//           reader.readAsDataURL(file);
//       });
//       postData.value.photos.push(...newPhotos);
//   }
// };

// Reset the form fields
const resetForm = () => {
  isEditing.value = false;
  postData.value = {
      title: '',
      diaryId: diaryId,
      location: '',
      content: '',
      dateTime: '',
      photos: [],
      pageNumber: undefined,
      layout: ''
  };
};


// Load diary title and posts on mount
onMounted(async () => {
  // Lae päeviku tiitel
  await loadDiaryTitle();

  // Lae postitused
  await postStore.loadPostsByDiaryId(diaryId);

  await fetchUploads();
  

  posts.value.forEach((post) => {
       if (!post.photos) {
           post.photos = []; // Veendu tühi array
       }


       // Lisa vastavalt layout-ile
       if (post.layout === '1.png' && post.photos.length !== 1) {
           post.photos = ['']; // Üks kast
       } else if (post.layout === '2.png' && post.photos.length !== 2) {
           post.photos = ['', '']; // Kaks kasti
       } else if (post.layout === '3.png' && post.photos.length !== 3) {
           post.photos = ['', '', '']; // Kolm kasti
       } else if (post.layout === '4.png' && post.photos.length !== 4) {
          post.photos = ['', '', '', ''];
        }
       
   });


  // Proovi laadida stiil `localStorage`-ist
  const localStorageStyle = localStorage.getItem(`diary-style-${diaryId}`);
  if (localStorageStyle) {
    try {
      const savedStyle = JSON.parse(localStorageStyle);
      Object.assign(postsStyle, savedStyle);
      console.log("Rakendatud stiil `localStorage`-ist:", postsStyle);
    } catch (error) {
      console.error("Failed to parse style from localStorage:", error);
    }
  } else {
    // Kui `localStorage`-is ei ole stiili, lae see andmebaasist
    try {
      await styleStore.loadStyleByDiaryId(diaryId);
      const savedStyle = styleStore.getStyleByDiaryId(diaryId);
      if (savedStyle && savedStyle.length > 0) {
        Object.assign(postsStyle, savedStyle[0]);
        console.log("Rakendatud stiil andmebaasist:", postsStyle);
      } else {
        console.log("Ühtegi salvestatud stiili ei leitud päeviku jaoks.");
      }
    } catch (error) {
      console.error("Failed to load style from database:", error);
    }
  }
});



// Filter posts by diary ID
const filteredPosts = computed(() => 
  posts.value
    .filter((post) => post.diaryId === diaryId)
    .sort((a, b) => (a.pageNumber || 0) - (b.pageNumber || 0)) // Sordi `pageNumber` alusel
);

const paginatedPosts = computed(() => {
  return filteredPosts.value
    .slice(currentPage.value * postsPerPage, (currentPage.value + 1) * postsPerPage)
    .map((post, index) => ({
      ...post,
      pageNumber: currentPage.value * postsPerPage + index + 1, // Calculate page number
    }));
});


// Filtered chapter list based on the selected diaryId
const filteredChapterList = computed(() => 
  posts.value
    .filter((post) => post.diaryId === diaryId) // Filtreeri päeviku järgi
    .sort((a, b) => (a.pageNumber || 0) - (b.pageNumber || 0)) // Sordi `pageNumber` järgi
    .map((post) => ({
      id: post.id,
      title: post.title || "Untitled", // Kasuta vaikimisi pealkirja, kui see puudub
      date: post.dateTime || "No Date", // Kasuta vaikimisi kuupäeva, kui see puudub
    }))
);

const selectChapter = (chapter: Chapter) => {
  const index = filteredPosts.value.findIndex(post => post.id === chapter.id);
  if (index !== -1) {
    const newPage = Math.floor(index / postsPerPage);
    currentPage.value = newPage; // Uuenda currentPage väärtust
    selectedPostId.value = chapter.id; // Uuenda valitud postituse ID-d
  }
};

const totalPages = computed(() => Math.ceil(filteredPosts.value.length / postsPerPage));

const nextPage = () => currentPage.value < totalPages.value - 1 && currentPage.value++;
const prevPage = () => currentPage.value > 0 && currentPage.value--;
</script>

<style scoped>
@import url('href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet');

/* img {
  max-width: 100%;
  height: auto; 
  border-radius: 8px; 
  margin-bottom: 1rem; 
} */
.montserrat-sm {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 16pt;
  color: #413332;
}


.montserrat-small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 12pt;
  color:#413332;
}

.montserrat-extra-small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 5pt;
  font-style: italic;
  font-size: 8pt;
  color:#413332;
}


.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 40pt;
  font-style: normal;
  color:#413332;
}

.great-vibes-small {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 20pt;
  font-style: normal;
  color:#413332;
}


.text-box {
  border-radius: 15px;
  color: #72605F
}
.text-box {
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
}

.placeholder-box-2 {
  width: 200px;
  height: 150px; /* Võid kohandada vastavalt vajadusele */
  background-color: #FFFEFC;
  border: 1px dashed #72605F;
  border-radius: 8px;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  color: #888;
  position: relative; /* Vajalik lapse overflow jaoks */
  overflow: hidden; /* Peida üleulatuvad osad */
  align-items: center;
  justify-content: center;
  display: flex;
}

.placeholder-box {
  width: 100%;
  height: 150px; /* Võid kohandada vastavalt vajadusele */
  background-color: #FFFEFC;
  border: 1px dashed #72605F;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Vajalik lapse overflow jaoks */
  overflow: hidden; /* Peida üleulatuvad osad */
  color: #888;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.placeholder-box:hover {
  background-color: #e0e0e0;
}


.placeholder-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cropib pildi nii, et see täidab ala */
  border: none; /* Halli ääre eemaldamiseks */
  display: block; /* Veendu, et img on nähtav */
}

.placeholder-box img.uploaded-photo {
  display: block;
}

.placeholder-box span {
  display: block; /* Nähtav ainult kui pilti pole */
}

.placeholder-box.has-image {
  border: none; /* Eemaldab halli äärise kui pilt on lisatud */
  background-color: transparent; /* Eemaldab halli tausta */
}


.uploaded-photo {
  width: 100%; /* Terve laiusega */
  height: 100%; /* Terve kõrgusega */
  border-radius: 8px; /* Säilita ümarad nurgad */
  object-fit: cover; /* Cropib pildi nii, et kast täitub */
  overflow: hidden; /* Peida üleulatuvad osad */
}

.placeholder-box-2:hover {
  background-color: #e0e0e0;
}


.placeholder-box-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cropib pildi nii, et see täidab ala */
  border: none; /* Halli ääre eemaldamiseks */
  display: block; /* Veendu, et img on nähtav */
}

.placeholder-box-2 img.uploaded-photo {
  display: block;
}

.placeholder-box-2 span {
  display: block; /* Nähtav ainult kui pilti pole */
}

.placeholder-box-2.has-image {
  border: none; /* Eemaldab halli äärise kui pilt on lisatud */
  background-color: transparent; /* Eemaldab halli tausta */
}

.placeholder-box-3 {
  width: 133px;
  height: 170px; /* Võid kohandada vastavalt vajadusele */
  background-color: #FFFEFC;
  border: 1px dashed #72605F;
  border-radius: 8px;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  color: #888;
  position: relative; /* Vajalik lapse overflow jaoks */
  overflow: hidden; /* Peida üleulatuvad osad */
  align-items: center;
  justify-content: center;
  display: flex;
}

.placeholder-box-3:hover {
  background-color: #e0e0e0;
}


.placeholder-box-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cropib pildi nii, et see täidab ala */
  border: none; /* Halli ääre eemaldamiseks */
  display: block; /* Veendu, et img on nähtav */
}

.placeholder-box-3 img.uploaded-photo {
  display: block;
}

.placeholder-box-3 span {
  display: block; /* Nähtav ainult kui pilti pole */
}

.placeholder-box-3.has-image {
  border: none; /* Eemaldab halli äärise kui pilt on lisatud */
  background-color: transparent; /* Eemaldab halli tausta */
}


.placeholder-box-4 {
  width: 200px;
  height: 100px; /* Võid kohandada vastavalt vajadusele */
  background-color: #FFFEFC;
  border: 1px dashed #72605F;
  border-radius: 8px;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  color: #888;
  position: relative; /* Vajalik lapse overflow jaoks */
  overflow: hidden; /* Peida üleulatuvad osad */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.placeholder-box-4:hover {
  background-color: #e0e0e0;
}


.placeholder-box-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cropib pildi nii, et see täidab ala */
  border: none; /* Halli ääre eemaldamiseks */
  display: block; /* Veendu, et img on nähtav */
}

.placeholder-box-4 img.uploaded-photo {
  display: block;
}

.placeholder-box-4 span {
  display: block; /* Nähtav ainult kui pilti pole */
}

.placeholder-box-4.has-image {
  border: none; /* Eemaldab halli äärise kui pilt on lisatud */
  background-color: transparent; /* Eemaldab halli tausta */
}


.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.add-icon {
  font-size: 48px;
  color: #FFFEFC; /* Võid muuta ikooni värvi */
}

/* Lisa paigutuse värvid */
.template1-class {
  background-color: #f5f5f5;
  border: 2px solid #72605f;
  padding: 20px;
}

.template2-class {
  background-color: #fff8e7;
  border: 2px dashed #72605f;
  padding: 25px;
}

.template3-class {
  background-color: #e8f7ff;
  border: 2px dotted #72605f;
  padding: 30px;
}

.template4-class {
  background-color: #e8f7ff;
  border: 2px dotted #72605f;
  padding: 35px;
  flex-wrap: wrap;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75); /* Läbipaistev taust */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50; /* Kõrgem z-indeks */
}

.modal-content {
  background-color: #FFFEFC;
  padding: 1.5rem;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  max-height: 80vh; /* Maksimaalne kõrgus 80% vaateaknast */
  overflow-y: auto; /* Luba vertikaalset kerimist */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-content ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Kaks veergu */
  gap: 1rem; /* Elemendi vahe */
  overflow-y: auto; /* Luba kerimist, kui sisu ületab kõrguse */
  max-height: calc(80vh - 4rem); /* Kohanda kõrgust modaali sisu järgi */
}

.modal-content img {
  width: 100%; /* Pilt täidab oma vanema laiuse */
  height: auto; /* Säilitab proportsioonid */
  border-radius: 8px; /* Lisab ümarad nurgad */
  object-fit: cover; /* Tagab, et pilt on korrektse kujuga */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lisab kerge varju */
  transition: transform 0.2s ease; /* Sujuv üleminek */
}

.modal-content img:hover {
  transform: scale(1.05); /* Suurendab veidi hoveri korral */
}

.modal-overlay-layout {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75); /* Läbipaistev taust */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20; /* Kõrgem z-indeks */
}

.modal-content-layout {
  background-color: #FFFEFC;
  padding: 1.5rem;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  max-height: 80vh; /* Maksimaalne kõrgus 80% vaateaknast */
  overflow-y: auto; /* Luba vertikaalset kerimist */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-content-layout ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Kaks veergu */
  gap: 1rem; /* Elemendi vahe */
  overflow-y: auto; /* Luba kerimist, kui sisu ületab kõrguse */
  max-height: calc(80vh - 4rem); /* Kohanda kõrgust modaali sisu järgi */
}

.modal-content-layout img {
  width: 100%; /* Pilt täidab oma vanema laiuse */
  height: auto; /* Säilitab proportsioonid */
  border-radius: 8px; /* Lisab ümarad nurgad */
  object-fit: cover; /* Tagab, et pilt on korrektse kujuga */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Lisab kerge varju */
  transition: transform 0.2s ease; /* Sujuv üleminek */
}

.modal-content-layout img:hover {
  transform: scale(1.05); /* Suurendab veidi hoveri korral */
}

.template-image {
  width: 100%; /* Kohanda dünaamiliselt */
  max-width: 150px; /* Veendu, et pildid sobivad sidebar'i */
  height: auto; /* Säilitab proportsioonid */
  border-radius: 8px; /* Lisab ümarad nurgad */
  object-fit: cover; /* Tagab, et pilt ei moondaks */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lisab varju */
}

.gray-box {
    background-color: #d3d3d3;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ccc;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}
.uploaded-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}

/* Layout 1: Üks suur kast */
.layout1-boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.layout1-boxes .photo-box {
  width: 100%;
  height: 300px; /* Suur kast */
  background-color: #d3d3d3;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Layout 2: Kaks kõrvuti kasti */
.layout2-boxes {
  display: flex;
  gap: 6px;
}

.layout2-boxes .photo-box {
  flex: 1;
  height: 200px; /* Keskmise suurusega kast */
  background-color: #d3d3d3;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Layout 3: Kolm kõrvuti kasti */
.layout3-boxes {
  display: flex;
  gap: 6px;
}

.layout3-boxes .photo-box {
  flex: 1;
  background-color: #d3d3d3;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout4-boxes {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.layout4-boxes .photo-box {
  flex: 1;
  background-color: #d3d3d3;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.photo-box:hover {
  background-color: #e0e0e0; /* Hoveril helehall */
  border-color: #888; /* Tumehall serv */
  cursor: pointer;
}


.background { 
  background-color: #FFFEFC; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.content-container {
  display: flex;
  gap: 3rem; /* Further increase the gap between sidebar and post cards */
  width: 100%;
  max-width: 1600px; /* Wider maximum width */
  padding: 0 1.5rem; /* Reduce edge padding for less white space */
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%; /* Slightly increased width for sidebar */
  margin-left: -1.5rem; /* Move the sidebar closer to the left edge */
}

.chapter-list {
  padding: 1.2rem;
  height: 644px; /* Fixed height for the chapter list */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #FFFEFC;
  border: 1px solid #72605F;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.chapter-item {
  background-color: #FFFEFC;
  border: 1px solid #72605F;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chapter-item:hover {
  background-color: #f5f2f2;
}

.post-cards-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.8rem; /* Adjust to align with chapter list */
}

.button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 12pt;
  font-size: 10pt;
  font-style: normal;
  border-radius: 15px;
}

.text-box::placeholder {
  color: #9D8C8B; /* Asenda soovitud värviga */
}

.form-style {
  border-radius: 15px;
}

.pagination-button-left,
.pagination-button-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #C9B9B8;
  color: #FFFEFC;
  padding: 0.5rem;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  display: flex;
  z-index: 1; 
}

.pagination-button-left:hover,
.pagination-button-right:hover {
  background-color: #B8A9A8; /* Darker shade on hover */
}

.pagination-button-left {
  left: 5px; /* Adjust to move closer to the left side */
}

.pagination-button-right {
  right: 5px; /* Adjust to move closer to the right side */
}

.post-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px; /* Increase gap for better spacing between post cards */
}

.post-card {
  width: 462px; /* Slightly wider for better readability */
  height: 644px;
  background-color: #FFFEFC;
  border: 1px solid #72605F;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 1.5rem; /* Hoia ühtlane padding */
}

.add-post-button-small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 12pt;
  font-size: 10pt;
  font-style: normal;
  background-color: #C9B9B8;
  color: #FFFEFC;
  padding: 0.75rem 1.5rem;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.style-button-small {
  background-color: #C9B9B8;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #72605F;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.add-post-button-small:hover {
  transform: scale(1.05);
}

.post-card .corner-button-left,
.post-card .corner-button-right {
  position: absolute;
  top: -10px;
  width: 32px;
  height: 32px;
  border-radius: 50%; /* Ensures circular shape */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1; /* Make sure it appears on top of content */
  overflow: hidden; /* In case there's any overflow */
}

.post-card .corner-button-left {
  left: -10px;
}

.post-card .corner-button-right {
  right: -10px;
}

.corner-button-custom {
  color: #5f4f4f !important;            /* Ensures icon/text is white */
  border-radius: 50% !important;        /* Makes the button circular */
  width: 32px !important;               /* Fixed width for circular shape */
  height: 32px !important;              /* Fixed height for circular shape */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.corner-button-custom:hover {
  background-color: #C9B9B8 !important; /* Slightly darker yellow on hover */
}


.page-number-left {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 0.875rem;
  color: #72605F;
}

.page-number-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.875rem;
  color: #72605F;
}


.style-modal {
  max-width: 700px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.accordion-section {
  border-radius: 8px;
  padding: 1rem 0;
}

.rotate-180 {
  transform: rotate(180deg);
}

.preview-section {
  width: 308px; /* 1.5 times smaller than post-card width */
  height: 429px; /* 1.5 times smaller than post-card height */
  background-color: #F5F5F5;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
  overflow: hidden;
}

.accordion-content {
  padding: 1rem 0;
}


</style>

