<template>
  <div class="preparation-container bg-[#fffefc]">
    <!-- Kui aktiivne loendur puudub, kuvatakse ainult "Lisa loendur" nupp -->
    <div class="countdown-placeholder" v-if="!activeCountdown">
      <button @click="showAddCountdownForm" class="add-button bg-[#fffefc]">Lisa loendur</button>
    </div>

    <!-- Loenduri komponent, mis kuvatakse, kui aktiivne loendur on olemas -->
    <CountdownTimer
      v-if="activeCountdown"
      :targetDate="new Date(activeCountdown.targetDate)"
      :title="activeCountdown.title"
    />

    <!-- Sisu ümbris eelarve ja nimekirja komponentide jaoks -->
    <div class="content-wrapper">
      <div class="budget-wrapper">
        <Budget />
      </div>
      <div class="checklist-wrapper">
        <Checklist />
      </div>
    </div>

    <!-- Lisa loenduri vormi komponent, mida kuvatakse modaalina -->
    <AddCountdownForm
      v-if="isFormVisible"
      :isVisible="isFormVisible"
      @close="hideAddCountdownForm"
      @save="handleSaveCountdown"
    />
  </div>
</template>

<script setup>
import { ref, computed } from 'vue';
import { useCountdownStore } from '@/stores/countdowns';
import Budget from './Budget.vue';
import Checklist from './ChecklistsView.vue';
import CountdownTimer from './CountdownTimer.vue';
import AddCountdownForm from './AddCountdownForm.vue';

const countdownStore = useCountdownStore();

// Reactive property for controlling modal visibility
const isFormVisible = ref(false);

// Computed property for the active countdown
const activeCountdown = computed(() => countdownStore.activeCountdown);

// Function to show the add countdown form
const showAddCountdownForm = () => {
  isFormVisible.value = true;
};

// Function to hide the add countdown form
const hideAddCountdownForm = () => {
  isFormVisible.value = false;
};

// Handle save event from AddCountdownForm component
const handleSaveCountdown = async (newCountdown) => {
  await countdownStore.addCountdown(newCountdown);
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');



.montserrat-sm {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 20pt;
  color:#413332;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 12pt;
  color:#413332;
}
.montserrat-regular-sm {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: normal;
  font-size: 11pt;
  color:#FFFEFC;
}

.montserrat-small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: italic;
  font-size: 10pt;
  color:#413332;
}

.montserrat-title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: normal;
  font-size: 18pt;
  color:#413332;
}
.montserrat-extra-small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 5pt;
  font-style: italic;
  font-size: 8pt;
}

.preparation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat to all child elements */
}

.countdown-placeholder {
  width: 100%; /* Täislaius */
  height: 200px; /* Kõrgus 200px */
  background-color: #e4dada; /* Beež taust */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Eraldus järgmiste komponentidega */
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat to all child elements */
}

.add-button {
  background-color: #fffefc;
  color: #413332;
  padding: 10px 20px;
  border-radius: 15px;

  cursor: pointer;
  border: 1px dashed #72605F;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 14pt;

}

.countdown-placeholder {
  font-weight: 400; /* Regular weight for placeholder text */
}


.add-button:hover {
  background-color: #f8f5f5;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
}

.budget-wrapper,
.checklist-wrapper {
  flex: 1;
}
</style>

