<template>
  <div class="registration-modal-overlay">
    <div class="registration-modal">
      <div class="registration-modal-header">
        <h2 class="form-title">Loo uus konto</h2>
        <p class="form-subtitle">Registreeru, et alustada!</p>
      </div>
      <form class="registration-form" @submit.prevent="submit">
        <div class="form-group">
          <label for="username" class="form-label">Kasutajanimi</label>
          <input
            id="username"
            v-model="user.username"
            class="form-input"
            type="text"
            placeholder="Sisestage kasutajanimi"
            required
          />
        </div>

        <div class="form-group">
          <label for="password" class="form-label">Parool</label>
          <input
            id="password"
            v-model="user.password"
            class="form-input"
            type="password"
            placeholder="Sisestage parool"
            required
          />
        </div>

        <button type="submit" class="form-button">Registreeri</button>
      </form>
      <p class="login-prompt">
        <span>Konto juba olemas? </span>
        <button @click="goToLogin" class="login-link">Logi sisse</button>
      </p>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useAuth } from '~/composables/useAuth';
import { useRouter } from 'vue-router';
import type { User } from '~/types/user';

const auth = useAuth();
const user: User = { username: '', password: '' };
const router = useRouter();

const submit = async () => {
  const result = await auth.register(user);
  if (result.success) {
    await router.push('/home-view'); // Suuna peale registreerimist kodulehele
  } else {
    alert(result.message || "Registreerimine ebaõnnestus: Antud konto juba eksisteerib");
  }
};
const goToLogin = () => {
  router.push('/'); // Suuna logimise lehele
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Üldine taust modal-efekti jaoks */
.registration-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ebe2de, #c9b9b8);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.registration-modal-overlay::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at 30% 50%, rgba(122, 104, 100, 0.5), rgba(0, 0, 0, 0)),
    radial-gradient(circle at 70% 20%, rgba(157, 140, 139, 0.5), rgba(0, 0, 0, 0));
  animation: rotate-gradient 20s infinite linear;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/* Animation for moving gradient */
@keyframes rotate-gradient {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Registration modaal */
.registration-modal {
  background: linear-gradient(135deg, #ebe2de, #c9b9b8);
  border-radius: 20px;
  padding: 2.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 6px 15px rgba(0.2, 0.1, 0.1, 0.2);
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat to the whole modal */
}

.form-title, .form-subtitle, .form-label, .form-input, .form-button, .login-prompt, .login-link {
  font-family: 'Montserrat', sans-serif; /* Ensure Montserrat is used for all text */
}

.form-input, .form-button {
  font-family: 'Montserrat', sans-serif; /* Ensures input and buttons use Montserrat */
}


/* Modaal päis */
.registration-modal-header {
  margin-bottom: 2rem;
}

.form-title {
  font-size: 2rem;
  font-weight: 700;
  color: #7a6864;
}

.form-subtitle {
  font-size: 1rem;
  color: #948b89;
  margin-top: 0.5rem;
}

/* Vorm */
.registration-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* Sisendväljade stiilid */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #7a6864;
  margin-bottom: 0.5rem;
}

.form-input {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0.8rem;
  font-size: 0.8rem;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  width: 100%;
}

.form-input:focus {
  border-color: #9d8c8b;
  box-shadow: 0px 0px 0px 2px #9d8c8b;
  outline: none;
}

/* Nupp */
.form-button {
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background-color: #9d8c8b;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 100%; /* Laius ühtlaseks */
}

.form-button:hover {
  background-color: #8c7a76;
}

/* Registreerimise stiil */
.login-prompt {
  font-size: 1rem;
  color: #666;
  margin-top: 1.5rem;
}

.login-link {
  color: #9d8c8b;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.login-link:hover {
  text-decoration: none;
  color: #8c7a76;
}
</style>

