<template>
  <div v-if="show" class="modal-overlay fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50">
      <div class="style-modal bg-[#FFFEFC] p-8 rounded-lg shadow-lg w-full max-w-3xl relative">
          <h2 class="montserrat-sm mb-6">Muuda päeviku stiili</h2>

          <div class="flex gap-8">
              <!-- Preview Section with Dynamic Styles for Each Part -->
              <div class="preview-section">
                  <!-- Dynamic Line Above Title -->
                  <div v-if="selectedLineStyle === 'Double lines' || selectedLineStyle === 'Line above'" :style="computedLineStyles" class="line"></div>
                  <h3 :style="titleStyles">Peatükk 1</h3> <!-- Removed any fixed text size class -->
                  <!-- Dynamic Line Below Title -->
                  <div v-if="selectedLineStyle === 'Double lines' || selectedLineStyle === 'Line below'" :style="computedLineStyles" class="line"></div>

                  <p v-if="showLocation || showDate" :style="dateLocationStyles" class="text-sm text-gray-500">
                      <span v-if="showLocation">Amsterdam</span>
                      <span v-if="showLocation && showDate">, </span>
                      <span v-if="showDate">25.12.2020</span>
                  </p>
                  <p :style="textStyles" class="mt-4 text-gray-700">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada scelerisque consequat. Donec vel lacus semper, 
                    consectetur neque non, dapibus sem. Praesent efficitur nibh justo, quis maximus nibh varius vitae. Aenean at magna at nunc suscipit fringilla id sed arcu. 
                    Vivamus eget tortor vitae tellus lacinia mollis. Vestibulum cursus quam at turpis lacinia, id efficitur velit mollis. Nullam molestie tortor urna, ut elementum 
                    libero ultrices vitae. Fusce et molestie nulla, vel fermentum erat. Curabitur sodales ultrices ornare. Donec sed consequat leo.
                    <br><br>
                    Aliquam ultrices tellus tellus, id ultrices ligula elementum sed. Ut ante ligula, fermentum ac consequat at, euismod et ante. 
                    Cras dapibus eu leo in venenatis. Ut vel tortor mauris. Donec mi quam, volutpat quis porta vitae, blandit id ipsum. Vivamus varius, 
                    diam a sodales auctor, sapien nulla commodo orci, eget elementum ipsum turpis ut tortor. Morbi tempus nunc vel convallis vehicula. 
                    Donec eget pretium nisl, sed porta ex.
                  </p>
                  <p v-if="showPageNumber" :style="pageNumberStyles" class="page-number text-gray-500">1</p>
              </div>

              <!-- Style Selection Section -->
              <div class="style-selection w-1/2">
                <!-- Accordion Section for Title -->
                <div class="accordion-section">
                  <div @click="toggleSection('title')" class="accordion-header">
                    <h3 class="montserrat-regular">Pealkiri</h3>
                    <span :class="expandedSection === 'title' ? 'rotate-180' : ''">
                      <UIcon name="solar:alt-arrow-down-line-duotone" class="bg-[#413332]" />
                    </span>
                  </div>
                  <p v-if="expandedSection === 'title'" class="montserrat-small mb-4">
                    Siin saate muuta pealkirja stiili
                  </p>
                  <div v-if="expandedSection === 'title'" class="accordion-content">
                    <!-- Font, Size, and Color for Title -->
                    <div class="flex gap-4 mb-4">
                      <select v-model="selectedTitleFont" class="input-style">
                        <option v-for="font in styleFontsList" :key="font" :value="font">{{ font }}</option>
                      </select>
                      <select v-model="selectedTitleSize" class="input-style w-20 p-1">
                        <option v-for="size in fontSizeOptions" :key="size" :value="size">{{ size }}</option>
                      </select>
                    </div>
                    <!-- Bold Checkbox for Title -->
                     <!-- Line Style Options Dropdown -->
                     <div class="line-style-bold-container flex gap-4 items-center">
                      <!-- Line Style Selector -->
                      <select v-model="selectedLineStyle" class="input-style">
                        <option v-for="lineStyle in lineStyleOptions" :key="lineStyle" :value="lineStyle">
                          {{ lineStyle }}
                        </option>
                      </select>
                      <label class="montserrat-regular-sm flex items-center gap-2 custom-checkbox">
                        <input type="checkbox" v-model="boldText" class="checkbox"/>
                        <span>Bold</span>
                      </label>
                    </div>
                    <!-- Color Selection as Circles -->
                    <div class="color-selector mt-2">
                      <!-- Currently selected color as a circle button -->
                      <div
                        :style="{ backgroundColor: selectedTitleColor }"
                        class="color-circle"
                        @click="toggleColorDropdown('title')"
                      ></div>

                      <!-- Color options dropdown -->
                      <div v-show="showTitleColorOptions" class="color-options">
                        <div
                          v-for="color in colorOptions"
                          :key="color"
                          :style="{ backgroundColor: color }"
                          class="color-circle"
                          @click="selectColor('title', color)"
                        ></div>
                      </div>
                    </div>
                    <!-- Line Color Sync Checkbox -->
                    <label class="montserrat-regular-sm flex items-center gap-2  custom-checkbox">
                      <input type="checkbox" v-model="syncLineColor" class="checkbox" />
                      <span>Muutke jooned sama värvi, mis on pealkirjal</span>
                    </label>
                  </div>
                </div>

                <!-- Accordion Section for Date and Location -->
                <div class="accordion-section mt-6">
                  <div @click="toggleSection('dateLocation')" class="accordion-header">
                    <h3 class="montserrat-regular">Kuupäev ja asukoht</h3>
                    <span :class="expandedSection === 'dateLocation' ? 'rotate-180' : ''">
                      <UIcon name="solar:alt-arrow-down-line-duotone" class="bg-[#413332]" />
                    </span>
                  </div>
                  <p v-if="expandedSection === 'dateLocation'" class="montserrat-small mb-4">
                    Siin saate muuta kuupäeva ja asukoha stiili
                  </p>
                  <div v-if="expandedSection === 'dateLocation'" class="accordion-content">
                    <!-- Show Location and Date Checkboxes -->
                    <div class="flex gap-4 mb-4 items-center">
                      <label class="montserrat-regular-sm flex items-center gap-2 custom-checkbox">
                        <input type="checkbox" v-model="showLocation" class="checkbox" />
                        <span>Näita asukohta</span>
                      </label>
                      <label class="montserrat-regular-sm flex items-center gap-2 custom-checkbox">
                        <input type="checkbox" v-model="showDate" class="checkbox" />
                        <span>Näita kuupäeva</span>
                      </label>
                    </div>
                    <!-- Font and Size for Date/Location -->
                    <div class="flex gap-4 mb-4">
                      <select v-model="selectedDateLocationFont" class="input-style">
                        <option v-for="font in styleFontsList" :key="font" :value="font">{{ font }}</option>
                      </select>
                      <select v-model="selectedDateSize" class="input-style w-20 p-1">
                        <option v-for="size in smallFontSizeOptions" :key="size" :value="size">{{ size }}</option>
                      </select>
                    </div>
                    <div class="flex gap-4 mb-4 items-center">
                      <select v-model="selectedAlignText" class="input-style custom-menu">
                        <option v-for="align in textAlignList" :key="align" :value="align">{{ align }}</option>
                      </select>
                      <!-- Color Selection as Circles for Date/Location -->
                      <div class="color-selector">
                        <!-- Currently selected color as a circle button -->
                        <div
                          :style="{ backgroundColor: selectedDateLocationColor }"
                          class="color-circle"
                          @click="toggleColorDropdown('dateLocation')"
                        ></div>

                        <!-- Color options dropdown -->
                        <div v-show="showDateLocationColorOptions" class="color-options">
                          <div
                            v-for="color in colorOptions"
                            :key="color"
                            :style="{ backgroundColor: color }"
                            class="color-circle"
                            @click="selectColor('dateLocation', color)"
                          ></div>
                        </div>
                      </div>
                    </div>
                    
                    <!-- Italic Toggle Checkbox for Date/Location -->
                    <label class="montserrat-regular-sm  flex items-center gap-2 custom-checkbox">
                      <input type="checkbox" v-model="italicText" class="checkbox" />
                      <span>Italic</span>
                    </label>
                  </div>
                </div>

                <!-- Accordion Section for Text -->
                <div class="accordion-section mt-6">
                  <div @click="toggleSection('text')" class="accordion-header">
                    <h3 class="montserrat-regular">Tekst</h3>
                    <span :class="expandedSection === 'text' ? 'rotate-180' : ''">
                      <UIcon name="solar:alt-arrow-down-line-duotone" class="bg-[#413332]" />
                    </span>
                  </div>
                  <p v-if="expandedSection === 'text'" class="montserrat-small mb-4">
                    Siin saate muuta teksti stiili
                  </p>
                  <div v-if="expandedSection === 'text'" class="accordion-content">
                    <!-- Font and Size for Text -->
                    <div class="flex gap-4 mb-4">
                      <select v-model="selectedTextFont" class="input-style">
                        <option v-for="font in styleFontsList" :key="font" :value="font">{{ font }}</option>
                      </select>
                      <select v-model="selectedTextSize" class="input-style w-20 p-1">
                        <option v-for="size in textFontSizeOptions" :key="size" :value="size">{{ size }}</option>
                      </select>
                    </div>
                    <!-- Color Selection as Circles for Text -->
                    <div class="color-selector">
                      <!-- Currently selected color as a circle button -->
                      <div
                        :style="{ backgroundColor: selectedTextColor }"
                        class="color-circle"
                        @click="toggleColorDropdown('text')"
                      ></div>
                      <!-- Color options dropdown -->
                      <div v-show="showTextColorOptions" class="color-options">
                        <div
                          v-for="color in colorOptions"
                          :key="color"
                          :style="{ backgroundColor: color }"
                          class="color-circle"
                          @click="selectColor('text', color)"
                        ></div>
                      </div>
                    </div>
                    <!-- Page Number Toggle Checkbox -->
                    <label class="montserrat-regular-sm  flex items-center gap-2 custom-checkbox">
                      <input type="checkbox" v-model="showPageNumber" class="checkbox" />
                      <span>Näita lehekülje numbreid</span>
                    </label>
                  </div>
                </div>
              </div>
              </div>



          <!-- Save and Cancel Buttons -->
          <div class="flex justify-end space-x-6 mt-6">
              <button type="button" @click="close" class="button bg-[#C8B8B7]  text-[#FFFEFC] py-3 px-4 rounded-lg shadow-lg hover:bg-[#ab9d9d] transition">
                  Tühista
              </button>
              <button @click="saveStyle" class="button bg-[#9D8C8B] text-[#FFFEFC] py-3 px-4  rounded-lg shadow-lg hover:bg-[#8E7F7F] transition">
                  Salvesta
              </button>
          </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { ref, defineEmits, computed } from 'vue';
import type { CSSProperties } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();
const styleStore = useStyleStore();
const { styles } = storeToRefs(styleStore);

// Define emit events
const emit = defineEmits(['close', 'save-style']);

// Props for saved styles
const props = defineProps({
  savedStyles: {
    type: Object,
    required: true,
    default: () => ({})
  }
});

// Modal visibility
const show = ref(true);
const diaryId = Number(route.params.diaryId);

// Options for dropdowns
const fontSizeOptions = ['14pt', '16pt', '18pt', '20pt', '22pt', '24pt', '26pt', '28pt'];
const smallFontSizeOptions = ['9pt', '10pt', '11pt'];
const textFontSizeOptions = ['9pt', '10pt', '11pt'];
const styleFontsList = ['Georgia', 'Arial', 'Times New Roman', 'Cambria', 'ui-serif', 'monospace'];
const textAlignList = ['Right align', 'Center align', 'Left align'];
const lineStyleOptions = ['No lines', 'Line below', 'Double lines'];
const colorOptions = ref(['#30303C', '#9D8C8B', '#C8B6B2', '#6872A4', '#C9B9B8']);

// State for styling settings
const expandedSection = ref<null | 'title' | 'dateLocation' | 'text'>(null);
const selectedTitleFont = ref(styleFontsList[0]);
const selectedTitleSize = ref(fontSizeOptions[0]);
const boldText = ref(false);
const selectedLineStyle = ref(lineStyleOptions[0]);

const selectedDateLocationFont = ref(styleFontsList[0]);
const selectedDateSize = ref(smallFontSizeOptions[0]);
const italicText = ref(false);
const showLocation = ref(true);
const showDate = ref(true);
const selectedAlignText = ref(textAlignList[0]);

const selectedTextFont = ref(styleFontsList[0]);
const selectedTextSize = ref(textFontSizeOptions[0]);
const showPageNumber = ref(true);
const selectedTitleColor = ref(colorOptions.value[0]);// Default to the first color
const selectedDateLocationColor = ref(colorOptions.value[0]);
const selectedTextColor = ref(colorOptions.value[0]);
const showTitleColorOptions = ref(false);
const showDateLocationColorOptions = ref(false);
const showTextColorOptions = ref(false);
const syncLineColor = ref(false); // Sync line color with title color

const selectColor = (section: 'title' | 'dateLocation' | 'text', color: string) => {
  if (section === 'title') {
    selectedTitleColor.value = color;
    showTitleColorOptions.value = false; // Close dropdown after selection
  }
  else if (section === 'dateLocation') {
    selectedDateLocationColor.value = color;
    showDateLocationColorOptions.value = false; // Close dropdown after selection
  }
  else if (section === 'text') {
    selectedTextColor.value = color;
    showTextColorOptions.value = false; // Close dropdown after selection
  }
};

const toggleColorDropdown = (section: 'title' | 'dateLocation' | 'text') => {
  if (section === 'title') {
    showTitleColorOptions.value = !showTitleColorOptions.value;
  }
  else if (section === 'dateLocation') {
    showDateLocationColorOptions.value = !showDateLocationColorOptions.value;
  }
  else if (section === 'text') {
    showTextColorOptions.value = !showTextColorOptions.value;
  }
};

// Computed properties for dynamic styles
const titleStyles = computed(() => ({
  fontFamily: selectedTitleFont.value,
  fontSize: selectedTitleSize.value,
  fontWeight: boldText.value ? 'bold' : 'normal',
  color: selectedTitleColor.value, // Use selected color
}));

const dateLocationStyles = computed<CSSProperties>(() => ({
  fontFamily: selectedDateLocationFont.value,
  fontSize: selectedDateSize.value,
  fontStyle: italicText.value ? 'italic' : 'normal',
  textAlign: (selectedAlignText.value === 'Center align' ? 'center' : selectedAlignText.value === 'Left align' ? 'left' : 'right') as CSSProperties['textAlign'],
  color: selectedDateLocationColor.value,
}));

const textStyles = computed<CSSProperties>(() => ({
  fontFamily: selectedTextFont.value,
  fontSize: selectedTextSize.value,
  color: selectedTextColor.value,
}));


const pageNumberStyles = computed<CSSProperties>(() => ({
  fontSize: selectedTextSize.value,
}));

const lineStyles = computed(() => ({
  borderTop: '1px solid #72605F',
  marginTop: `calc(${selectedTitleSize.value} / 2)`,
  marginBottom: `calc(${selectedTitleSize.value} / 2)`,
}));


const computedLineStyles = computed(() => ({
  borderTop: '1px solid',
  borderColor: syncLineColor.value ? selectedTitleColor.value : '#72605F',
  marginTop: '8px',
  marginBottom: '8px',
}));

const postStyles = computed(() => ({
  fontFamily: selectedTitleFont.value,
  fontSize: selectedTitleSize.value,
  fontWeight: boldText.value ? 'bold' : 'normal',
  color: '#72605F',
}));

// Toggle sections in accordion
const toggleSection = (section: 'title' | 'dateLocation' | 'text') => {
  expandedSection.value = expandedSection.value === section ? null : section;
};

// Emit functions for closing and saving style
const close = () => {
  emit('close');
};

const saveStyle = () => {
  const stylesToEmit = {
    diaryId,
    titleFontFamily: selectedTitleFont.value,
    titleFontSize: selectedTitleSize.value,
    titleColor: selectedTitleColor.value,
    titleFontStyle: boldText.value ? 'bold' : 'normal',
    dateLocationFontFamily: selectedDateLocationFont.value,
    dateLocationFontSize: selectedDateSize.value,
    dateLocationFontStyle: italicText.value ? 'italic' : 'normal',
    dateLocationTextAlign: selectedAlignText.value,
    dateLocationColor: selectedDateLocationColor.value,
    showLocation: showLocation.value,
    showDate: showDate.value,
    textFontFamily: selectedTextFont.value,
    textFontSize: selectedTextSize.value,
    textColor: selectedTextColor.value,
    selectedLineStyle: selectedLineStyle.value,
    lineBorderTop: lineStyles.value.borderTop,
    lineMarginTop: lineStyles.value.marginTop,
    lineMarginBottom: lineStyles.value.marginBottom,
    showPageNumber: showPageNumber.value,
  };

  // Emit the style data to the parent component and close modal
  emit('save-style', stylesToEmit);
  closeStyleModal();
};


const closeStyleModal = () => {
  emit('close'); // Emit close event to parent
};
</script>


<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-sm {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 16pt;
  color:#413332;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 14pt;
  color:#413332;
}
.montserrat-regular-sm {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: bold;
  font-size: 11pt;
  color:#413332;
}

.montserrat-small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400pt;
  font-style: italic;
  font-size: 10pt;
  color:#413332;
}

.montserrat-extra-small {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 5pt;
  font-style: italic;
  font-size: 8pt;
}


.style-modal {
  border-radius: 15px;
  min-width: 1000px;
}

.color-selector {
  position: relative;
  display: inline-block;
}

.color-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 8px;
  border: 1px solid #ccc;
}

.color-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
  top: 30px; /* Position below the selected color circle */
  z-index: 1;
  background-color: white;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

/* Style for custom checkbox */
.custom-checkbox .checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #FFFEFC;
  border: 2px solid #8a7877;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.custom-checkbox .checkbox:checked {
  background-color: #8a7877;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.custom-checkbox .checkbox:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}


.input-style {
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  padding: 0.5rem 1rem; /* Add padding for a better visual appearance */
  font-size: 14px;
  font-family: inherit;
  color: #594948; /* Text color */
  background-color: #FFFEFC; /* Light background color */
  transition: border-color 0.3s ease, background-color 0.3s ease;
  cursor: pointer; /* Pointer cursor to indicate interactivity */
  border-color: #594948;
}

/* Hover and focus effect */
.input-style:hover,
.input-style:focus {
  border-color: #72605F; /* Change border color on hover/focus */
  background-color: #FFFEFC; /* Lighten background on hover/focus */
}

/* Customize the dropdown arrow */
.input-style {
  -webkit-appearance: none; /* Remove default arrow in Safari and Chrome */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow for other browsers */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%239D8C8B' d='M2 0L0 2h4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.8rem center;
  background-size: 0.5rem;
  padding-right: 2rem; /* Spacing for custom arrow */
}


.button {
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.preview-section {
  width: 462px; /* Slightly wider for better readability */
  height: 644px;
  background-color: #FFFEFC;
  border: 1px solid #72605F;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.page-number {
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.line {
  border-top: 1px solid #72605F;
  /* The margin values will now be dynamically set by lineStyles */
}

.accordion-content {
  padding: 1rem 0;
}
</style>



