<template>
  <div>
    <nav class="navigation-bar bg-[#fffefc]">
      <!-- Left Links -->
      <div class="left-links">
        <NuxtLink
          v-for="link in filteredLinks"
          :key="link.label"
          :to="link.to"
          class="nav-link"
          :class="{ 'active': isActive(link.to) }"
        >
          {{ link.label }}
        </NuxtLink>
      </div>

      <!-- Right Container -->
      <div class="right-container" v-if="auth.isAuthenticated && !isHomePage">
        <div class="relative">
          <!-- User Icon Button -->
          <UButton
            icon="material-symbols:account-circle-full"
            class="user-icon"
            @click="toggleDropdown"
          />

          <!-- Dropdown Menu -->
          <div v-show="dropdownVisible" class="dropdown-menu">
            <button @click="logOut" class="dropdown-item">Logi välja</button>
            <button @click="openChangePasswordModal" class="dropdown-item">Muuda parool</button>
          </div>
        </div>
      </div>
    </nav>

    <!-- Change Password Modal -->
    <div
      v-if="showChangePasswordModal"
      class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
    >
      <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full relative">
        <!-- Modal Header -->
        <h2 class="text-2xl font-bold mb-4">Muuda Parool</h2>

        <!-- Close Modal Button -->
        <button
          @click="closeChangePasswordModal"
          class="absolute top-2 right-2 bg-gray-300 text-gray-800 p-1 rounded-lg hover:bg-gray-400"
        >
          ✕
        </button>

        <!-- Change Password Form -->
        <form @submit.prevent="submitChangePassword">
          <div class="mb-4">
            <label for="username" class="block text-gray-700 font-bold mb-2">Kasutajanimi:</label>
            <input
              v-model="username"
              type="text"
              id="username"
              class="w-full p-2 border rounded"
              required
            />
          </div>
          <div class="mb-4">
            <label for="oldPassword" class="block text-gray-700 font-bold mb-2">Praegune parool:</label>
            <input
              v-model="oldPassword"
              type="password"
              id="oldPassword"
              class="w-full p-2 border rounded"
              required
            />
          </div>
          <div class="mb-4">
            <label for="newPassword" class="block text-gray-700 font-bold mb-2">Uus parool:</label>
            <input
              v-model="newPassword"
              type="password"
              id="newPassword"
              class="w-full p-2 border rounded"
              required
            />
          </div>
          <div class="mb-4">
            <label for="confirmPassword" class="block text-gray-700 font-bold mb-2">Kinnita uus parool:</label>
            <input
              v-model="confirmPassword"
              type="password"
              id="confirmPassword"
              class="w-full p-2 border rounded"
              required
            />
          </div>

          <div class="flex justify-end">
            <button
              type="submit"
              class="bg-[#9D8C8B] text-white py-2 px-4 rounded-lg hover:bg-[#8E7F7F]"
            >
              Salvesta
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useAuth } from '~/composables/useAuth';

const auth = useAuth();
const router = useRouter();
const route = useRoute();

// Define navigation links
const links = ref([
  { label: "Avaleht", to: "/home-view" },
  { label: "Päevikud", to: "/diaries-view" },
  { label: "Ettevalmistus", to: "/preparation-view" },
]);

// Dropdown visibility state
const dropdownVisible = ref(false);

// Toggle dropdown menu
const toggleDropdown = () => {
  dropdownVisible.value = !dropdownVisible.value;
};

// Log out functionality
const logOut = async () => {
  await auth.logOut();
  router.push('/logIn-view');
};

// Password change modal state
const showChangePasswordModal = ref(false);

// Password change form data
const username = ref('');
const oldPassword = ref('');
const newPassword = ref('');
const confirmPassword = ref('');

// Open and close password change modal
const openChangePasswordModal = () => {
  showChangePasswordModal.value = true;
};

const closeChangePasswordModal = () => {
  showChangePasswordModal.value = false;
  username.value = '';
  oldPassword.value = '';
  newPassword.value = '';
  confirmPassword.value = '';
};

// Handle password change submission
const submitChangePassword = async () => {
  if (newPassword.value !== confirmPassword.value) {
    alert('Uus parool ja kinnitus ei ühti!');
    return;
  }

  const success = await auth.changePassword(username.value, oldPassword.value, newPassword.value);
  if (success) {
    alert('Parool edukalt muudetud!');
    closeChangePasswordModal();
  } else {
    alert('Parooli muutmine ebaõnnestus. Kontrolli sisestatud andmeid.');
  }
};

// Filtered links based on authentication status
const filteredLinks = computed(() => {
  return auth.isAuthenticated.value ? links.value : links.value.filter(link => link.to === '/');
});

// Check if the current route matches the path
const isActive = (path) => route.path === path;

// Determine if the current route is the homepage
const isHomePage = computed(() => route.path === '/');
</script>


<style scoped>
@import url('href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet');


/* Navigation Bar Styling */
.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  border-bottom: 1.5px solid #9D8C8B;
  color: #fffefc;
}

/* Left Links Styling */
.left-links {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-right: 20px;
  padding: 6px 10px;
  border-radius: 15px;
  text-decoration: none;
  color: #4a4744;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Montserrat', sans-serif; /* Change to Montserrat */
}

.nav-link:hover,
.nav-link:focus {
  background-color: #C9B9B8;
}

.nav-link.active {
  background-color: #9a8e8d;
  color: white;
  border-bottom: 3px solid #9a8e8d;
}

/* Right Container Styling */
.right-container {
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 2rem;
  padding: 8px;
  background-color: white;
  color: #4a4744;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dropdown Menu Styling */
.dropdown-menu {
  position: absolute;
  right: 0;
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 100;
  min-width: 160px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 2px 15px;
  font-size: 1rem;
  color: #4a4744;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-item:hover {
  background-color: #f7f7f7;
}

/* Modal specific styling */
.fixed {
  z-index: 50;
}
.bg-opacity-50 {
  backdrop-filter: blur(5px);
}
</style>
